py/.idea/
py/.ve/
py/data/
*.pyc
.distve/
.ve/
.idea/
build/
dist/
tmp/
data/
pydio.spec
src/pydio.egg-info/
*.spec
.pve/
src/run.cmd
.python-version
pydio/ui/node_modules
*.min.js
pydio/ui/app/assets/md/
*.min.css
pydio.egg-info/
*/node_modules
