xmltodict
PyDispatcher==2.0.3
PyYAML==3.10
appdirs==1.4.0
argh==0.24.1
keyring==4.0
pathlib==0.97
pathtools==0.1.2
requests==2.5.1
watchdog==0.8.1
cffi==0.8.6
flask==0.10.1
flask-restful==0.2.12
six>=1.9.0
memory-profiler>=0.32
netifaces>=0.10.4
