<h3>{{_('Synchronization Direction')}}</h3>
<div class="section-advanced">
    <p class="legend">
        {{_('By default, modifications from both sides (computer & server) are propagated to the other side.')}}
    </p>
    <div layout="row">
        <md-radio-group ng-model="selected.job.direction">
            <md-radio-button value="up">{{_('Upload only (computer to server)')}}</md-radio-button>
            <md-radio-button value="bi">{{_('Bi-directional (default value)')}}</md-radio-button>
            <md-radio-button value="down">{{_('Download only (server to computer)')}}</md-radio-button>
        </md-radio-group>
    </div>
</div>
<h3>{{_('Synchronization Frequency')}}</h3>
<div class="section-advanced">
    <p class="legend">{{_('By default, changes are propagated in real-time, but for some usecases it can be handy to disable real-time and switch to less frequent checks.')}}</p>
    <div>
        <md-radio-group ng-model="selected.job.frequency">
            <md-radio-button value="auto">{{_('Automatically (real-time)')}}</md-radio-button>
            <md-radio-button value="manual">{{_('Manually (you trigger the sync)')}}</md-radio-button>
            <md-radio-button value="time">{{_('At a given time of day')}}</md-radio-button>
            <!-- TODO <md-radio-button value="interval">{{_('Every x min')}}</md-radio-button>-->
            <div ng-show="selected.job.frequency=='time'" class="trigger-time-more">
                <md-input-container>
                    <input style="width:40px;" type="number" min="0" max="23" ng-model="selected.job.start_time.h" />
                </md-input-container>
                <span>:</span>
                <md-input-container>
                    <input style="width:40px;" type="number" min="0" max="59" step="1" ng-model="selected.job.start_time.m" />
                </md-input-container>
            </div>
        </md-radio-group>
    </div>
</div>
<div style="clear: left;" ng-hide="selected.job.direction=='up'">
<h3>{{_('Conflicts')}}</h3>
<div class="section-advanced">
    <p class="legend">{{_('When files were modified on both the server and your computer at the same time, a conflict is detected.')}}</p>
    <md-radio-group ng-model="conflict_mode" ng-class="{'disable':selected.job.solve === 'both'}" ng-init="conflict_mode = selected.job.solve === 'manual' ? 'auto':'manual'">
        <md-radio-button value="manual" ng-click="selected.job.solve = 'manual'" style="outline: none;border: 0;">{{_('Solve conflicts manually')}}</md-radio-button>
        <md-radio-button value="auto" class="md-align-top-left" ng-click="selected.job.solve = 'both';" style="outline: none;border: 0;">{{_('Automatic')}}</md-radio-button>
        <div ng-show="conflict_mode=='auto'" class="conflict-auto-more">
            <span>{{_('With the default keep-both behavior conflicting files will be copied on your local sync. Which version is to be kept?')}}</span>
            <md-select ng-model="selected.job.solve">
              <md-optgroup label="{{_('Resolution scheme')}}">
                  <md-option value="both">{{_('Keep both')}}</md-option>
                  <md-option value="local" ng-hide="job.direction=='down'">{{_('Prefer local')}}</md-option>
                  <md-option value="remote">{{_('Prefer remote')}}</md-option>
              </md-optgroup>
            </md-select>
            <div class="conflict-more-legend">
                <span ng-show="selected.job.solve == 'both'">{{_('The local file is renamed to a new file with a dot and your username. The common version is that of the server.')}}</span>
                <span ng-show="selected.job.solve == 'local'">{{_('In this mode the local version is kept and pushed to the server.')}}</span>
                <span ng-show="selected.job.solve == 'remote'">{{_('In this mode the local version is lost.')}}</span>
            </div>
        </div>
    </md-radio-group>
</div>
</div>
<h3>{{_('Connection settings')}}</h3>
<div class="section-advanced">
    <p class="legend">
        {{_('Increase the timeout in case of slow responsive server')}}
    </p>
    <div layout="row">
        <md-input-container class="md-block" style="flex:1">
            <md-tooltip>{{_('Increase the timeout in case of slow responsive server')}}</md-tooltip>
            <label>{{_('Timeout in seconds')}}</label>
            <input type="number" min="1" max="3600" step="1" ng-model="selected.job.timeout">
        </md-input-container>

        <md-input-container class="md-block" style="flex:1">
            <md-tooltip>{{_('You can increase or reduce the number of concurrent connections.')}}</md-tooltip>
            <label>{{_('Concurrent connections')}}</label>
            <input type="number" ng-model="selected.job.poolsize" min="1" max="99" required ng-style="
                    selected.job.poolsize <= 4 && {'background-color': 'LightGreen'} ||
                    selected.job.poolsize <= 8 && selected.job.poolsize > 4 && {'background-color': 'LightSalmon'} ||
                    selected.job.poolsize > 8 && {'background-color': 'FireBrick'}">
        </md-input-container>
    </div>
</div>
<!-- TODO
<div>
    <md-input-container class="md-block" flex-gt-sm>
            <label>{{_('Sync interval')}}</label>
            <input name="pollInterval" ng-model="selected.job.interval" placeholder="10" md-maxlength="5">
    </md-input-container>
</div>
    -->
<h3>{{_('Include/Exclude from Sync')}}</h3>
<div class="section-advanced">
    <p class="legend">
        {{_('Manually include or exclude a set of files. You can use patterns like *.extension, /folder/*, etc...')}}
    </p>
    <div layout="row">
        <md-input-container class="md-block" style="flex:1">
            <label>{{_('Synchronise, use a list of files or patterns to include in the sync')}}</label>
            <input type="text" ng-model="selected.job.filters.includes">
        </md-input-container>
        <md-input-container class="md-block" style="flex:1">
            <label>{{_('Do not synchronise, list of files or patterns to exclude from sync')}}</label>
            <input type="text" ng-model="selected.job.filters.excludes">
        </md-input-container>
    </div>
</div>
