<div ng-controller="HistoryController as hc">
        {{running}}
    <md-content flex layout-padding>
            <md-list class="md-dense" flex>
                <md-subheader class="md-no-sticky">{{_('Currently in Sync')}}</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in running">
                    <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.filename}}" />-->
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.filename }}</h3>
                        <!--<h4>{{ item.what }}</h4>-->
                        <p>{{ item.notes }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
        <md-content flex layout-padding>
            <md-list class="md-dense" flex>
                <md-subheader class="md-no-sticky">{{_('Last synchronized files')}}</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in logs">
                    <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.filename}}" />-->
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.filename }}</h3>
                        <!--<h4>{{ item.what }}</h4>-->
                        <p>{{ item.notes }}</p>
                        <p>{{ item.message }}</p>
                        <p>{{ item.status }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    a
    --
    {{ selected }}
    __
    --
    {{logs}}
    <md-button ng-click="hc.loadLogs()">Yolo</md-button>


<p ng-if="running.tasks.total" class="lead">Currently processing {{running.tasks.total}} tasks ({{running.global|number:0}}% completed)</p>
<table ng-if="running.tasks.total" class="table">
    <thead>
    <tr>
        <th>Direction</th>
        <th>Type</th>
        <th>File</th>
        <th>Progress</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="running.tasks.total" ng-repeat="task in running.tasks.current">
        <td>{{task.direction=='remote'?'Down':'Up'}}</td>
        <td>{{task.type}}</td>
        <td>{{task.target && task.target != 'NULL'?task.target:task.source}}</td>
        <td ng-if="!task.progress">Queued</td>
        <td ng-if="task.progress">
            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{task.progress | number:0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{task.progress | number:0}}%;">
                    {{task.progress | number:0}}%
                </div>
            </div>
        </td>
    </tr>
    <tr ng-if="running.tasks.total > 5">
        <td>{{running.tasks.total - 5}} more ... </td>
    </tr>
    </tbody>
</table>


<div ng-if="conflicts">
    <h4>Conflicts</h4>
    <p class="lead">There are some conflicts, synchro is currently stopped</p>
    <table class="table">
        <thead>
        <tr>
            <th>Status</th>
            <th>File</th>
            <th>Solve Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="conflict in conflicts">
            <td>{{conflict.status}}</td>
            <td>{{conflict.node_path}}</td>
            <td>
                <a style="cursor: pointer;" ng-click="solveConflict(conflict.node_id, 'SOLVED:KEEPLOCAL')">Keep my version</a> |
                <a style="cursor: pointer;" ng-click="solveConflict(conflict.node_id, 'SOLVED:KEEPREMOTE')">Override with remote version</a> |
                <a  style="cursor: pointer;" ng-click="solveConflict(conflict.node_id, 'SOLVED:KEEPBOTH')">Keep both</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h4>Logs</h4>
<p class="lead">Previous operations</p>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Date</th>
        <th>Action</th>
        <th>File / Folder</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="log in logs">
        <td ng-if="log[1] == 'remote'"><span class="glyphicon glyphicon-cloud-upload"></span></td>
        <td ng-if="log[1] == 'local'"><span class="glyphicon glyphicon-cloud-download"></span></td>
        <td>{{log[7]}}</td>
        <td>{{log[5]}}</td>
        <td>{{log[4] && log[4]!=NULL ? log[4]:log[3]}}</td>
        <td>{{log[6] == 'undefined' ? 'OK' : log[6]}}</td>
    </tr>
    </tbody>
</table>
</div>
