<div ng-controller="HistoryController as hc">

    <md-content ng-show="conflicts.length">
        <md-subheader class="section-title">{{_('Conflicts')}}</md-subheader>
        <div>
            <div class="change-history-line conflict-line" ng-repeat="conflict in conflicts">
                <span>
                    <i class="change-history-icon">!</i>
                </span>
                <span class="change-history-text">{{conflict.node_path}}</span>
                <span>
                    <md-button class="md-raised" ng-click="openConflictDialog(conflict)">{{conflict.status.indexOf('SOLVED:') === -1 ? _('Solve Conflict') : _('Solved')}}</md-button>
                </span>
            </div>
        </div>
    </md-content>
    <md-content>
        <div ng-show="running.tasks && running.tasks.total" class="full-job-status-running">
            {{_('Status')}}: {{_('syncing')}} - {{_('Size')}}: {{running.global.queue_bytesize | bytes}} - {{_('Estimated time')}}: {{running.global.eta | seconds}}
        </div>
    </md-content>
    <md-content flex ng-show="running.tasks && running.tasks.total != 0">
        <md-list class="md-dense" flex>
            <md-subheader class="md-no-sticky" >
                {{_('Currently processing ')}}{{running.tasks.current.length}} {{_(' tasks ')}}
            </md-subheader>
            <div class="change-history-line" ng-repeat="item in running.tasks.current">
                <span class="progress-cell" ng-if="item.node.bytesize">
                    <md-progress-circular md-mode="determinate" md-diameter="20px" value="{{100*(item.total_bytes_sent/item.total_size)}}"></md-progress-circular>
                </span>
                <i class="material-icons change-history-icon" ng-if="item.type == 'delete'">delete</i>
                <span class="change-history-text">
                    <span ng-if="item.node.node_path">
                        {{ item.node.node_path }}
                        <span ng-if="item.node.bytesize"> - {{ item.node.bytesize | bytes:1}}</span>
                    </span>
                    <span ng-if="!item.node.node_path">{{item.source}}</span>
                </span>
            </div>
            <div ng-show="running.tasks.total > 5" class="change-history-line">
                <span class="empty-cell"></span>
                <span class="change-history-text" style="opacity: 0.5; font-style: italic;">
                    {{running.tasks.total - 5}} more ...
                </span>
            </div>
        </md-list>

    </md-content>
<!--
    {{running.tasks}}
-->
    <md-content flex>
        <md-list class="md-dense">
            <md-subheader class="md-no-sticky">{{_('Last synchronized files')}}</md-subheader>
            <div style="width:100px; height:100px; margin: 30px 0 0 47%" ng-show="!logs.length">
                <md-progress-circular md-mode="indeterminate" md-diameter="40px" ></md-progress-circular>
            </div>
            <div style="padding-left:42px;" ng-show="logs.length==1">
                {{_('No history available')}}
            </div>
            <div class="change-history-line" ng-repeat="item in logs" ng-if="item.type != 'sync'">
                <span>
                    <i class="material-icons change-history-icon" ng-if="item.action.indexOf('delete') > -1">delete</i>
                    <i class="material-icons change-history-icon" ng-if="item.action.indexOf('delete') == -1 && item.type == 'remote'">cloud_upload</i> <!--file_upload-->
                    <i class="material-icons change-history-icon" ng-if="item.action.indexOf('delete') == -1 && item.type == 'local'">cloud_download</i> <!--file_download-->
                </span>
                <span class="change-history-text" ng-click="showChangeDetails(item, $event)">
                    {{ item.message }}
                </span>
                <md-icon ng-if="item.action.indexOf('delete') == -1" class="md-secondary" ng-click="openFile(item, $event)">open_in_new</md-icon>
            </div>
        </md-list>
    </md-content>

</div>
