<div ng-controller="HistoryController as hc">
 <!-- {{ running }}
    <br>
    <br>--<br>
    {{ JC.selected }}-->
    <md-content flex layout-padding ng-show="running.tasks && running.tasks.total != 0">
            <div ng-show="running.tasks && running.tasks.total">
            <span style="font-size: 1.2em;">{{_('Status')}}: {{_('syncing')}}</span>
            <br>{{_('Size')}}: {{running.global.queue_bytesize | bytes}} -
            {{_('Estimated time')}}: {{running.global.eta | seconds}}
            <!--{{_('Status')}}: {{_('syncing')}}-->
        </div>
        <md-list class="md-dense" flex>
            <md-subheader class="md-no-sticky" >
                <span ng-show="running.tasks.total === 0">{{_('Currently in Sync')}}</span>
                <span ng-show="running.tasks.total > 0" class="lead">{{_('Currently processing ')}}{{running.tasks.current.length}} {{_(' tasks (')}} {{JC.selected.progress | number:0}}{{_('% completed)')}}</span>
            </md-subheader>
            <md-list-item class="md-2-line" ng-repeat="item in running.tasks.current">
                {{item}}
                <div class="md-list-item-text" layout="row">
                        <h3><i class="material-icons change-history-icon" ng-if="item.node.type === 'delete'">delete</i>
                        <md-icon class="change-history-icon" ng-if="item.node.type !== 'delete' && item.node.location == 'remote'">cloud_download</md-icon> <!--file_download-->
                        <md-icon class="change-history-icon" ng-if="item.node.type !== 'delete' && item.node.location == 'local'">cloud_upload</md-icon> <!--file_upload-->
                        {{ item.node.node_path }}</h3>
                        <h4>{{item.node.bytesize }} - {{ item.node.bytes_sent }} -- {{ item.bytes_sent }} --- {{ item.node.total_bytes_sent }}</h4>
                        <md-progress-circular md-mode="determinate" md-diameter="20px" value="{{100*(item.node.bytesize/item.bytes_sent)}}"></md-progress-circular>
                </div>
                <!--<p>{{item}}</p>-->
            </md-list-item>
        </md-list>
    </md-content>

        <table ng-show="running.tasks.total > 0" class="table">

            <tr ng-show="running.tasks.total > 5">
                <td>{{running.tasks.total - 5}} more ... </td>
            </tr>
            </tbody>
        </table>


        <md-content flex layout-padding>
            <md-list class="md-dense">
                <md-subheader class="md-no-sticky">{{_('Last synchronized files')}}</md-subheader>
                <md-list-item class="md-1-line" ng-repeat="item in logs" ng-if="item.type != 'sync'" layout-padding>
                    <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.filename}}" />-->
                    <div class="md-list-item-text" layout="row">
                        <!--<h3>{{ item.filename }}</h3>
                        <h4>{{ item.what }}</h4>
                        <p>{{ item.notes }}</p>-->
                        <span ng-click="showChangeDetails(item, $event)" style="cursor: pointer;">
                            <!--<md-tooltip md-direction="right">
                                    <md-icon style="color: white;">history</md-icon>
                                    <span> &nbsp; {{ item.date | thedatefilter }}</span>
                            </md-tooltip>-->
                            <i class="material-icons change-history-icon" ng-if="item.action == 'delete'">delete</i>
                            <i class="material-icons change-history-icon" ng-if="item.action !== 'delete' && item.type == 'remote'">cloud_upload</i> <!--file_upload-->
                            <i class="material-icons change-history-icon" ng-if="item.action !== 'delete' && item.type == 'local'">cloud_download</i> <!--file_download-->
                            &nbsp;
                            {{ item.message }}
                        </span>
                        <md-icon class="md-secondary" ng-click="openFile(item, $event)">open_in_new</md-icon>
                        <!--<p>{{ item.status }}</p>-->
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    <!--
    {{ selected }}
    {{logs}}
    -->




<div ng-if="conflicts">
    <h4>Conflicts</h4>
    <p class="lead">There are some conflicts, synchro is currently stopped</p>
    <table class="table">
        <thead>
        <tr>
            <th>Status</th>
            <th>File</th>
            <th>Solve Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="conflict in conflicts">
            <td>{{conflict.status}}</td>
            <td>{{conflict.node_path}}</td>
            <td>
                <a style="cursor: pointer;" ng-click="solveConflict(conflict.node_id, 'SOLVED:KEEPLOCAL')">Keep my version</a> |
                <a style="cursor: pointer;" ng-click="solveConflict(conflict.node_id, 'SOLVED:KEEPREMOTE')">Override with remote version</a> |
                <a  style="cursor: pointer;" ng-click="solveConflict(conflict.node_id, 'SOLVED:KEEPBOTH')">Keep both</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--
<h4>Logs</h4>
<p class="lead">Previous operations</p>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Date</th>
        <th>Action</th>
        <th>File / Folder</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="log in logs">
        <td ng-if="log[1] == 'remote'"><span class="glyphicon glyphicon-cloud-upload"></span></td>
        <td ng-if="log[1] == 'local'"><span class="glyphicon glyphicon-cloud-download"></span></td>
        <td>{{log[7]}}</td>
        <td>{{log[5]}}</td>
        <td>{{log[4] && log[4]!=NULL ? log[4]:log[3]}}</td>
        <td>{{log[6] == 'undefined' ? 'OK' : log[6]}}</td>
    </tr>
    </tbody>
</table>
</div>
-->