<div ng-show="JC.currentNavItem == 'history'" class="full-job-scroller">
    <ng-include src="'./src/jobs/view/changehistory.html'"></ng-include>
</div>

<div ng-show="JC.currentNavItem == 'settings'" class="full-job-scroller">
    <!-- --
    {{selected.job}}
    <!-- -->
    <div layout="row" ng-show="isModified" style="background-color: rgb(229,229,229)">
              <span flex></span> <!-- TODO: Only show when modified -->
              <md-button ng-click="JC.revertJob()">{{_('REVERT')}}</md-button>
              <md-button class="md-raised md-primary" ng-click="JC.doSave();">{{_('SAVE')}}</md-button>
    </div>
    <md-content id="settingsForm">
        <div class="section-title" style="margin-top:10px;">{{_('Sync task settings')}}</div>
        <div style="margin-top:30px;">
            <md-input-container class="md-block md-icon-float">
                <label>{{_('Label')}}</label>
                <md-icon aria-hidden="true" class="login-icons" style="cursor:default">label</md-icon>
                <input type="text" ng-model="selected.job.label">
            </md-input-container>
            <md-input-container class="md-block md-icon-float">
                <label>{{_('Remote Server')}}</label>
                <!--<a href="{{self.selected.job.server}}" target="_blank"></a>-->
                <a href="{{selected.job.server}}" target="_blank" id="server_link"></a>
                <md-icon class="login-icons" style="cursor:pointer" aria-hidden="true" onclick="document.getElementById('server_link').click()">dns</md-icon>
                <input type="text" ng-model="selected.job.server">
            </md-input-container>
            <md-input-container class="md-block" md-no-float>
                <label>{{_('Login')}}</label>
                <md-icon class="login-icons" aria-hidden="true" style="cursor:default">account_circle</md-icon>
                <input type="text" ng-model="selected.job.user">
            </md-input-container>
            <md-input-container class="md-block" md-no-float>
                <label>{{_('Password')}}</label>
                <md-icon class="login-icons" aria-hidden="true">lock</md-icon>
                <input type="password" ng-model="selected.job.password">
            </md-input-container>
            <div style="display:flex;">
                <md-input-container style="flex:1;">
                    <label>{{_('Local Folder')}}</label>
                    <md-icon class="login-icons" style="cursor:pointer" aria-hidden="true" ng-click="JC.openFolder(selected.job.directory)">folder</md-icon>
                    <input ng-model="selected.job.directory">
                </md-input-container>
                <div>
                    <md-button class="md-raised" style="display:inline-block;" ng-click="JC.openDirChooser($event)">{{_('CHOOSE')}}</md-button>
                </div>
            </div>
            <div style="display:flex;">
                <md-input-container class="md-block" style="flex:1;">
                    <label>{{_('Workspace')}}</label>
                    <md-icon class="login-icons" aria-hidden="true" style="cursor:default">work</md-icon>
                    <input ng-model="selected.job.workspace">
                </md-input-container>
                <div>
                    <md-button class="md-raised" ng-click="JC.showWorkspacePicker()">{{_('CHOOSE')}}</md-button>
                </div>
            </div>
        </div>
        <div style="padding-top:0;">
            <ng-include src="'./src/jobs/view/advanced.html'"></ng-include>
        </div>
    </md-content>

</div>
<!-- DEBUG {{selected.job}} -->
</md-content>

