<md-content ng-controller="NewJobController as NJC" class="md-padding" ng-init="step='step1'">
    <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">{{_('Create a new Synchronization')}}</div>
    </md-toolbar>
    <md-content ng-show="step === 'step1'" layout-padding>
        <h3>{{_('1. Configure Connection')}}</h3>
        <p>{{_('Connectez vous au serveur avec la même URL que celle que vous utilisez pour accéder à Pydio via un navigateur web, par exemple http://mondomaine.com/pydio')}}</p>
        <div layout-padding ng-cloak>
          <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
              <!-- Use floating label instead of placeholder -->
              <!--<label><i class="fa fa-server" aria-hidden="true"></i> Remote Server</label>-->
              <label><i class="material-icons" aria-hidden="true">dns</i>&nbsp;{{_('Remote Server')}}</label>
              <input ng-model="NJC.job.server" type="text"/>
            </md-input-container>
            </md-content>
            <md-content layout-gt-sm="row" layout-padding>
                  <md-input-container>
                      <!--<label><i class="fa fa-user" aria-hidden="true"></i> Login</label>-->
                      <label><i class="material-icons" aria-hidden="true">account_circle</i>&nbsp;{{_('Login')}}</label>
                    <input ng-model="NJC.job.user"/>
                  </md-input-container>
                  <md-input-container>
                      <!--<label><i class="fa fa-lock" aria-hidden="true"></i> Password</label>-->
                      <label><i class="material-icons" aria-hidden="true">lock</i>&nbsp;{{_('Password')}}</label>
                    <input ng-model="NJC.job.password" ng-keyup="NJC.doneWithEnter($event, 'step2')" type="password"/>
                  </md-input-container>
            </md-content>
            <p ng-click="NJC.showURLTip($event)">{{_('Tip: how do I find my server URL?')}}</p>
        </div>
        <!--{{showNewTask}} {{NJC}} -->
            <md-content layout="row" style="margin-bottom:50px">
                <span flex></span>
                <md-content layout="column">
                    <md-checkbox ng-model="NJC.job.trust_ssl" ng-init="NJC.job.trust_ssl = false" aria-label="SSL">
                        {{_('Bypass SSL certificate verification.')}}
                    </md-checkbox>
                    <md-content layout="row">
                        <md-button ng-click="JC.newSyncTask();">{{_('CANCEL')}}</md-button>
                        <md-button class="md-primary" ng-click="NJC.loadWorkspaces()">{{_('CONNECT')}}</md-button>
                    </md-content>
                </md-content>
            </md-content>
    </md-content>
    <div ng-show="step === 'step2'" layout-padding>
        <h3>{{_('2. Select a workspace')}}</h3>
        <p>{{_('Welcome, you are now connected to Pydio Corporate (http://server.pydio.com/)! Please pick a workspace and eventually a sub-folder that will be synced to your local computer.')}}</p>
        <!--<md-autocomplete
                placeholder="{{_('Choose a workspace')}}"
                md-items="item in NJC.job.repositories"
                md-item-text="item.label"
        ></md-autocomplete>-->
        <md-content layout="column">
            <md-input-container style="margin-top: 50px">
                <label>{{_('Choose a workspace')}}</label>
                <md-select ng-model="NJC.job.workspace" style="min-width:242px">
                  <md-optgroup label="Workspaces">
                    <md-option ng-value="item" ng-repeat="item in NJC.job.repositories">{{item.label}}</md-option>
                  </md-optgroup>
                </md-select>
            </md-input-container>
            <md-content layout-padding>
                <md-checkbox ng-model="singleFolder" ng-show="NJC.job.workspace != ''" ng-click="NJC.loadFolders()">{{_('Sync only a subfolder')}}</md-checkbox>
                <md-content ng-show="singleFolder">
                    <!--{{NJC.folders}}
                    {{NJC.job}}-->
                <ng-include
                        ng-repeat="child in NJC.folders"
                        src="'./src/jobs/view/tree_node.html'"
                        onload="data = child;job = job"/>
                </md-content>
            </md-content>

        </md-content>
        <md-content layout="row" layout-padding>
            <span flex></span>
            <md-button ng-click="step='step1'">&lt; {{_('BACK')}}</md-button>
            <md-button class="md-primary" ng-click="step='step3'">{{_('NEXT')}} &gt;</md-button>
        </md-content>
    </div>
    <div ng-show="step === 'step3'" layout-padding>
        <h3>{{_('3. Select a local folder')}}</h3>
        <p>{{_('The content of My Files / Subfolder will be synced against the following folder on your computer. It will be created by default, or you can change its location.')}}</p>
        <md-content layout-gt-sm="row" layout-padding>
              <md-input-container>
                  <!--<label><i class="fa fa-folder" aria-hidden="true"></i> Local Folder</label>-->
                  <label><i class="material-icons" aria-hidden="true">folder</i>&nbsp;{{_('Local Folder')}}</label>
                <input ng-model="NJC.job.local_folder">
              </md-input-container>
            <md-button ng-click="NJC.showFolderPicker($event)">{{_('CHANGE')}}</md-button>
        </md-content>
        <md-content layout="row" layout-padding>
            <span flex></span>
            <md-button ng-click="step='step2'">&lt;</md-button>
            <md-button class="md-primary" ng-click="step='step4'">{{_('REVIEW PARAMETERS')}}</md-button>
        </md-content>
    </div>

    <div ng-show="step === 'step4'" layout-padding>
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <!--<i class="fa fa-menu" aria-hidden="true"></i>-->
                    <i class="material-icons" aria-hidden="true">list</i>
                </md-card-avatar>
                <md-card-header-text>
                    <p>{{_('Sync is now ready to launch: please verify the parameters and click on start. You can change these parameters later as well.')}}</p>
                    <span class="md-title">{{NJC.job.label}}</span>
                    <span class="md-subhead">{{NJC.job.remote_workspace}}</span>
                </md-card-header-text>
            </md-card-header>
            <!--
            YOLO
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">In-card actions</span>
                    <span class="md-subhead">Description</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-button>Action 1</md-button>
                <md-button >Action 2</md-button>
            </md-card-actions>
            -->
            <md-card-content>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>{{_('Remote Server')}}</label>
                    <input ng-model="NJC.job.remote_folder" disabled>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>{{_('Remote Workspace')}}</label>
                    <input ng-model="NJC.job.workspace.label" disabled>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>{{_('Local Folder')}}</label>
                    <input ng-model="NJC.job.local_folder" disabled>
                </md-input-container>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>{{_('Data Local')}}</label>
                        <input ng-model="NJC.job.total_size" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>{{_('Data Remote')}}</label>
                        <input ng-model="NJC.job.total_size" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>{{_('Estimated Time')}}</label>
                        <input ng-model="NJC.job.eta" disabled>
                    </md-input-container>
                </div>
                <center>
                    <md-button md-no-ink>{{_('DISPLAY ADVANCED PARAMETERS')}}</md-button>
                </center>
            </md-card-content>
        </md-card>
        <md-content layout="row" md-layout="padding">
            <span flex></span>
            <md-button ng-click="step='step2'">&lt; {{_('BACK')}}</md-button>
            <md-button class="md-raised md-primary" ng-click="step='step4'">{{_('SAVE AND LAUNCH')}}</md-button>
        </md-content>

    </div>
  </md-content>

    </div>
</md-content>
