<h1 class="shareHeader">{{_('Share %1 via Pydio', share_filename.split('\\').pop().split('/').pop())}}</h1>
<!--h1 class="shareHeader" ng-value="checkExistingLink()">{{_('Share %1 via Pydio', share_filename.split("/").pop())}}</h1-->
<md-progress-linear md-mode="indeterminate" ng-show="loading" style="height:2px"></md-progress-linear>
<md-content>
<div id="shareDiv" ng-hide="loading">
    <div ng-hide="miniview">
        <h3>{{_('Description')}}</h3>
        <div class="input-group">
            <span class="input-group-addon">{{_('Path')}}</span>
            <input type="text" ng-model="share_filename" class="form-control" placeholder="path" readonly required >
        </div>
    </div>
    <div ng-show="miniview">
        <p style="margin-bottom: 5%;">{{ _('Share item') }}
            <strong> {{ share_filename.split('\\').pop().split('/').pop() }} </strong>
            {{ _('by creating a public link that can easily be sent to your contacts.') }}
            <br />{{ _('You can customize the link parameters using the forms below.') }}</p>

        <h3 style="margin-top: 50px; cursor:pointer;" ng-class="{'minititle': miniview}" ng-click="share_show_accessibility=!share_show_accessibility" ng-init="share_show_accessibility = false">
            <i class="material-icons share_icon" ng-show="!share_show_accessibility">chevron_right</i>
            <i class="material-icons share_icon" ng-show="share_show_accessibility">keyboard_arrow_down</i>
        {{_('Secure Link Access')}}<span ng-show="!share_show_accessibility">...</span>
    </h3>
    <div ng-show="share_show_accessibility" ng-class="{'miniview_margin': miniview}">
        <h4 ng-class="{'miniview_h4': miniview}"> {{_('Optional Password')}} </h4>
        <md-input-container class="md-icon-float md-block">
            <label>{{_('Password')}}</label>
            <md-icon aria-hidden="true" class="share_icon_alt">lock</md-icon>
            <input ng-model="share_password" type="password" class="form-control" style="width:80%">
        </md-input-container>
        <h4 ng-class="{'miniview_h4': miniview}"> {{_('Expires After')}} </h4>
        <div>
            <span>{{_('Days')}}</span>
            <md-slider-container style="padding-right:10px;">
                <md-icon aria-hidden="true" class="share_icon_alt">today</md-icon>
                <md-slider min="0" max="365" style="width:80%" ng-model="share_expire_in" aria-label="Expires in days" flex md-discrete></md-slider>
                <input type="number" min="0" ng-model="share_expire_in"  class="form-control">
            </md-slider-container>

        </div>
        <div>
            <span>{{_('Downloads')}}</span>
            <md-slider-container style="padding-right:10px;">
                <md-icon aria-hidden="true" class="share_icon_alt">file_download</md-icon>
                <md-slider min="0" style="width:80%" ng-model="share_allowed_downloads" aria-label="Number of downloads" flex md-discrete></md-slider>
                <input type="number" min="0" ng-model="share_allowed_downloads" class="form-control">
            </md-slider-container>

        </div>
    </div>
    </div>
    <div ng-hide="miniview">
    <h3> {{_('Security')}} </h3>
    <div class="input-group">
        <span class="input-group-addon">{{_('Password')}}</span>
        <input ng-model="share_password" type="password" class="form-control">
    </div>
    <h4 ng-class="{'miniview_h4': miniview}"> {{_('Expires after')}} </h4>
    <div class="input-group">
        <span class="input-group-addon">{{_('Days')}}</span>
        <input type="number" min="0" ng-model="share_expire_in"  class="form-control" >
        <span class="input-group-addon">{{_('Downloads')}}</span>
        <input type="number" min="0" ng-model="share_allowed_downloads" class="form-control" >
    </div>
    </div>

    <h3 style="margin-top: 50px; cursor: pointer; border: none;" ng-class="{'minititle': miniview}" ng-click="share_show_advanced=!share_show_advanced" ng-init="share_show_advanced = false">
        <i class="material-icons share_icon" ng-show="!share_show_advanced">chevron_right</i>
        <i class="material-icons share_icon" ng-show="share_show_advanced">keyboard_arrow_down</i>
        {{_('Advanced parameters')}}<span ng-show="!share_show_advanced">...</span>
    </h3>
    <div ng-show="share_show_advanced" ng-class="{'miniview_margin': miniview}">
        <div>
            <h4 ng-class="{'miniview_h4': miniview}">{{_('Link Handle')}}</h4>
            <div>
                <p>{{_('If you want a durable and pretty link (like https://.../my-share-link), you can use this field. Link handle will be generated if left empty.')}}</p>
                <div>
                    <input ng-model="share_link_handler" type="text" class="form-control" placeholder="my-share-link">
                </div>
            </div>
        </div>

        <div>
            <h4 ng-class="{'miniview_h4': miniview}">{{_('Description')}}</h4>
            <div>
                <p>{{_('This will be displayed to the shared users.')}}</p>
                <div style="text-align: left;">
                    <input ng-model="share_description" type="text" class="form-control" placeholder="description (optional)">
                </div>
            </div>
        </div>

        <div style="">
            <h4 ng-class="{'miniview_h4': miniview}">{{_('Access Rights')}}</h4>
            <div>
                <p>{{_('By default, the item will be previewed and downloadable')}}</p>
                <div>
                    <md-checkbox ng-model="share_preview" aria-label="Allow Preview">{{_('Preview')}}</md-checkbox>
                    <md-checkbox ng-model="share_download_checkbox" aria-label="Allow Download">{{_('Download')}}</md-checkbox>
                    <span ng-show="can_write">
                        <md-checkbox ng-model="share_upload_checkbox" aria-label="Allow Upload">{{_('Upload')}}</md-checkbox>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <br style="clear: both">
    </div>
    <div ng-hide="miniview" ng-class="{'navbar-inverse navbar-fixed-bottom': !miniview}" style="padding: 10px; text-align: center; background-color: #77b8e2;">
        <md-button ng-click="generateLink()" class="md-primary md-raised" style="width: 40%;margin:0 1%;">{{_('Generate Link')}}</md-button>
    </div>
    <div ng-show="miniview" style="text-align:center">
        <md-button ng-click="generateLink()" class="md-primary md-raised" style="width: 40%;margin:0 1%;">{{_('Generate Link')}}</md-button>
    </div>
    <div style="height:10px"></div>
</div>
</md-content>