<div>
    <center>
        <h3>{{_('Welcome to PydioSync')}}</h3>
        <p>{{_('The best way to keep all your data in sync.')}}</p>
        <p>{{_('To begin using PydioSync, ')}}<md-button ng-click="JC.newSyncTask($event);" style="cursor:pointer" class="md-primary md-raised">{{('add a synctask.')}}</md-button></p>
        <p>{{_('If you encounter issues please refer to the')}} <a href="https://pydio.com/en/docs/v7/checking-sync">documentation</a>.</p>
        <p>{{_('If that fails please look for help in our')}}&nbsp;<a href="https://pydio.com/forum/f/forum/troubleshooting/pydiosync/">forum</a>.</p>
    </center>
</div>