<div id="aboutdiv" style="height: 100%;">
<ng-include src="'src/jobs/view/settingsbar.html'"></ng-include>
    <div style="height:calc(100% - 48px);" ng-init="currentNavItem = 'about'">
        <h2>About PydioSync</h2>
        <div class="pad-me">
        <p>PydioSync v##VERSION## - Build ##COMMIT## (##BUILD_CHANNEL##) - ##VERSION_DATE##
            <br>&copy; 2016 Abstrium SAS
            <br>Pydio is a trademark of Abstrium SAS
            <br>More info on <a href="https://pydio.com/" target="_blank">https://pydio.com/</a>
        </p>
        </div>
        <h2>Troubleshooting</h2>
        <div class="pad-me">
            <p>If you are an end-user please contact your administrator to get help!</p>
            <p>If you are an administrator, please make sure to meet the following requirements on the server:
                 <ul>
                    <li>Use Pydio server version 6 or above</li>
                    <li>Enable RewriteRule mechanism and make sure the RESTful API is working correctly&nbsp;<a href="https://pydio.com/en/docs/v7/checking-sync" target="_blank">CHECK YOUR SERVER CONFIGURATION</a></li>
                    <li>Add indexation and <em>meta.syncable</em> aspects to the workspaces you want to be syncable</li>
                    <li>If on Https (recommended), do not use a self-signed SSL certificate.</li>
                 </ul>
                If you still cannot get this tool to work correctly, please visit our forum <a href="https://pydio.com/forum/f/forum/troubleshooting/pydiosync/" target="_blank">https://pydio.com/forum/</a>.
                Please provide us the logs so we can help you!
            </p>
            <a class="btn btn-info center-block" ng-if="QtObject" ng-click="openLogs()" target="_blank"> <span class="glyphicon glyphicon-open"></span>&nbsp;&nbsp;Open Pydio Logs</a>
        </div>

        <h2>Get Enterprise support</h2>
        <div class="pad-me">
            <p>Learn how to get Pydio enterprise support on <a href="https://pydio.com/" target="_blank">https://pydio.com/</a></p>
        </div>
        <h2>Licensing</h2>
        <div class="pad-me">
            <p>PydioSync code is licensed under GPL v3. You can find the source code <a href="https://github.com/pydio/pydio-sync" target="_blank">here</a>.</p>
            <p>PydioSync-UI code is licensed under GPL. You can find the source code <a href="https://github.com/pydio/pydio-sync-ui" target="_blank">here</a>.</p>
            <p>PydioSync-UI uses Qt.<a href="http://doc.qt.io/qt-4.8/opensourceedition.html" target="_blank">Qt open source</a></p>
            <p>Librsync is distributed under the LGPL. See <a href="https://github.com/librsync/librsync" target="_blank">https://github.com/librsync/librsync</a> </p>
            <p>Icons from Bootstrap theme are a subset of <a href="http://glyphicons.com" target="_blank">Glyphicons.com</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
            <p>BootstrapCSS Framework, Bootstrap Lumen theme, and AngularJS framework are licensed under MIT.</p>
        </div>
    </div>
</div>