html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/* Toolbar area */
.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}
md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}
/* Sidenav area */
md-list-item > button {
  width: 100%;
  text-align: left !important;
}
md-list .md-button.selected {
  color: #03a9f4;
}
md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}
/* Primary content area */
#content {
  overflow: hidden;
}
#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}
#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}
#content md-icon.avatar {
  margin-top: 10px;
}
#content .md-button.share > md-icon {
  fill: black;
  width: 36px;
  height: 36px;
}
md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}
#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}
#content img {
  display: block;
  height: auto;
  max-width: 500px;
}
/* Utils */
.content-wrapper {
  position: relative;
}
/* Typography support coming in 0.8.0 */
md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}
md-bottom-sheet md-icon {
  margin-right: 20px;
}
span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}
.alljob-control {
  margin-right: 20px;
}
.alljob-divider {
  left: 100px !important;
}
/* START REWORKING 'SETTINGS' PANEL */
.text-label-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
  background-color: #0288d1;
}
div.full-job-status-running {
  text-align: center;
  padding: 10px 20px;
  background-color: #E1F5FE;
  color: #01579B;
}
div.change-history-line {
  display: flex;
  border-bottom: 1px solid #ececec;
  padding: 10px 10px 10px 16px;
}
div.change-history-line .change-history-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  padding: 4px;
  font-size: 13px;
}
div.change-history-line .change-history-icon {
  color: white;
  background-color: rgba(0, 0, 0, 0.43);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 7px;
  font-size: 15px;
  margin-top: -2px;
  margin-right: 8px;
  font-style: normal;
  display: inline-block;
}
div.change-history-line span.progress-cell,
div.change-history-line span.empty-cell {
  display: inline-block;
  width: 35px;
}
div.change-history-line span.progress-cell md-progress-circular,
div.change-history-line span.empty-cell md-progress-circular {
  margin: 3px 5px;
}
div.change-history-line md-icon.md-secondary.material-icons {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.33);
  cursor: pointer;
  padding-top: 6px;
  padding-right: 4px;
  padding-left: 8px;
}
div.change-history-line.conflict-line .change-history-text {
  margin-top: 14px;
  color: #d32f2f;
}
div.change-history-line.conflict-line .change-history-icon {
  background-color: #d32f2f;
  margin-top: 11px;
}
.conflict-version-block {
  padding: 16px;
  margin: 1px 8px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  font-size: 12px;
  max-width: 110px;
  cursor: pointer;
  outline: none;
}
.conflict-version-block:hover {
  background-color: #fafafa;
}
.conflict-version-block.selected {
  border-color: #1e88e5;
  border-width: 2px;
  margin: 0px 7px;
}
.conflict-version-block i.material-icons {
  color: #EEEEEE;
  font-size: 56px;
}
.history-more-info {
  padding: 20px;
}
#full-job-toolbar button.alljob-control {
  background-color: white;
  min-width: 56px;
}
#full-job-toolbar div.full-job-title {
  flex: 1;
  color: white;
  width: calc(100% - 70px);
  padding-top: 6px;
}
#full-job-toolbar div.full-job-title span:focus {
  outline: none;
  border: 0;
}
#full-job-toolbar div.full-job-title h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
#full-job-toolbar div.full-job-title div.full-job-status {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
}
#full-job-toolbar div.full-job-title div.full-job-status i.material-icons {
  font-size: 12px;
}
#full-job-toolbar div.full-job-toolbar-controls {
  position: absolute;
  color: rgba(255, 255, 255, 0.87);
  top: -41px;
  right: 16px;
  z-index: 1000;
}
#full-job-toolbar div.full-job-toolbar-controls span.tb-button {
  cursor: pointer;
  transition: color 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
#full-job-toolbar div.full-job-toolbar-controls span.tb-button:hover {
  color: white;
}
#full-job-toolbar div.full-job-toolbar-controls span.tb-button .icon-stop,
#full-job-toolbar div.full-job-toolbar-controls span.tb-button .icon-sync,
#full-job-toolbar div.full-job-toolbar-controls span.tb-button .icon-delete {
  font-size: 20px;
  border-radius: 50%;
  padding: 6px;
  color: white;
}
#full-job-toolbar md-nav-bar .md-button._md-nav-button.md-unselected {
  color: rgba(255, 255, 255, 0.87);
}
#full-job-toolbar md-nav-bar md-nav-ink-bar {
  bottom: -1px;
}
#full-job-toolbar .warning md-icon {
  font-size: 17px !important;
  height: 21px;
  color: orange !important;
  min-width: 13px !important;
  margin: 0;
  width: 17px;
  min-height: 20px;
}
#settingsForm {
  padding: 16px;
}
#settingsForm md-input-container {
  margin: 7px 0px;
}
#settingsForm div.section-title,
#settingsForm h3 {
  margin: 20px 0 20px;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.73);
  font-weight: 400;
}
#settingsForm.general_configs h3 {
  margin: 30px 0 30px;
}
#settingsForm.general_configs h4 {
  color: rgba(0, 0, 0, 0.43);
}
#settingsForm md-icon.login-icons {
  color: rgba(0, 0, 0, 0.53);
  font-size: 20px !important;
  height: 18px;
  left: 4px !important;
}
#settingsForm md-checkbox.ssl {
  transform: scale(0.8);
}
#settingsForm div.section-advanced p.legend {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.43);
}
#settingsForm div.section-advanced p.legend-small {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  margin: 0;
}
#settingsForm div.section-advanced md-radio-group {
  margin-left: 5px;
}
#settingsForm div.conflict-auto-more,
#settingsForm div.trigger-time-more,
#settingsForm div.enable_update_more {
  margin-left: 8px;
  border-left: 2px dotted #feb558;
  padding-left: 18px;
}
#settingsForm div.conflict-auto-more md-select,
#settingsForm div.trigger-time-more md-select,
#settingsForm div.enable_update_more md-select {
  margin: 10px 0 0 0;
  width: 97%;
}
#settingsForm div.conflict-auto-more div.conflict-more-legend,
#settingsForm div.trigger-time-more div.conflict-more-legend,
#settingsForm div.enable_update_more div.conflict-more-legend {
  padding-top: 20px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.43);
}
.primary-background {
  background-color: #0288d1;
}
#settings-toolbar {
  background-color: #0288d1;
}
#settings-toolbar md-tabs .md-tab {
  color: red;
}
#settings-toolbar h1 {
  padding-left: 16px;
}
#settings-toolbar h2 {
  padding-left: 16px;
  margin: 10px 0 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.53);
  font-weight: 600;
}
#settings-toolbar div.pad-me {
  margin-left: 20px;
}
#settings-toolbar md-input-container {
  /* CHECK*/
  margin: 7px 0px;
}
.jobslist button.alljob-control {
  min-width: 56px;
}
.jobslist .md-list-item-inner .layout-row {
  overflow: hidden;
}
.jobslist .joblist-item h3 {
  font-size: 17px !important;
  line-height: 1.2em !important;
}
.jobslist .joblist-item h4 {
  font-size: 13px !important;
  line-height: 16px !important;
  color: rgba(0, 0, 0, 0.53) !important;
  white-space: normal !important;
}
.jobslist.disabled-jobs md-list-item {
  opacity: 0.53;
}
.jobslist.disabled-jobs md-list-item:hover {
  opacity: 1;
}
.login-icons {
  color: rgba(0, 0, 0, 0.33);
  font-size: 20px !important;
  height: 18px;
  left: 4px !important;
}
h1,
md-icon:focus {
  /* Fix for the weird blue highlight, place me in a smaller scope someday */
  outline: none;
  border: 0;
}
.new-job-form md-tabs-wrapper {
  display: none;
}
.new-job-form .tip-my-url {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  bottom: 0;
  overflow: scroll;
  display: block;
}
.new-job-form img {
  width: 90%;
}
.new-job-form .error-block {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 3px;
}
.new-job-form md-input-container.md-block {
  margin: 10px 0;
}
.new-job-form .md-padding {
  padding: 16px;
}
.new-job-form h3 {
  font-weight: 300;
  font-size: 24px;
  color: #9e9e9e;
  margin: 5px 0;
}
.new-job-form .bottom-buttons {
  margin-top: 16px;
  margin-right: 16px;
  text-align: right;
}
.new-job-form .hint {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.53);
}
.new-job-form .hint md-icon {
  font-size: 17px !important;
  height: 21px;
  color: orange !important;
  min-width: 13px !important;
  margin: 0;
  width: 17px;
  min-height: 20px;
}
md-dialog {
  max-width: 85%;
  max-height: 90%;
}
md-dialog md-toolbar h2 {
  font-size: 16px;
}
.conflict-button {
  /* width: 100px; */
  font-size: 10px;
}
/* Share page for macos */
.miniview .navbar,
.miniview h1 {
  display: none;
}
.miniview .shareHeader {
  top: 0;
  margin-top: 0;
}
.miniview h3 {
  color: #158cba !important;
  font-size: 1em;
  margin-top: 20px !important;
  margin-bottom: 20px;
}
body.miniview > div.ng-scope > div.well.ng-scope {
  margin: 0px !important;
  box-shadow: 0 0 0 !important;
  border: 0;
  border-radius: 0 !important;
  padding-bottom: 50% !important;
}
.miniview > btn btn-primary {
  padding-bottom: 20px;
}
.miniview {
  padding: 0px !important;
  padding-top: 0 !important;
  background-color: #fafafa;
}
.miniview form {
  padding-left: 20px;
  padding-right: 20px;
}
.miniview_margin {
  margin-left: 16px;
}
.miniview_button {
  padding: 20px 20px 20px 20px;
}
.miniview body {
  background-color: #fafafa;
}
.miniview h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 13px;
  color: #888;
  font-weight: 400;
}
.padding4em {
  padding-bottom: 4em;
}
#shareDiv {
  padding-left: 4px;
}
#shareDiv h3 {
  cursor: pointer;
}
#shareDiv h3:focus {
  outline: none;
  border: 0;
}
#shareDiv .share_icon {
  vertical-align: -4px;
  font-size: 18px;
}
#shareDiv .share_icon_alt {
  color: grey;
}
/* About page */
#aboutdiv h2 {
  padding-left: 16px;
  margin: 10px 0 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.53);
  font-weight: 600;
}
#aboutdiv div.pad-me {
  margin-left: 25px;
}
.shareHeader {
  background-color: #0288d1;
  color: white;
  left: 0;
  right: 0;
  margin-top: 0;
  padding: 10px;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
