<div class="well" ng-show="panel_tips" style="position: absolute;top: 60px;right: 20px;left: 20px;bottom: 50px;z-index: 100;box-shadow: 2px 2px 15px rgba(0,0,0,0.25);" >
    <button type="button" class="close" style="color:black;" data-dismiss="alert" aria-hidden="true" ng-click="panel_tips=false">&times;</button>
    <h4>{{_('How can I find my server URL?')}}</h4>
    {{_('The server URL is the adress that you can see in your browser when accessing Pydio via the web.')}}
    {{_('It starts with http or https depending on your server configuration.')}}<br>
    {{_('If you are logged in Pydio and you see the last part of the URL starting with "ws-", remove this part and only keep the beginning (see image below).')}}<br><br>
    <p style="text-align: center;">
        <img class="img-thumbnail" src="images/ServerURL.png" style="max-width: 100%; max-height: 400px;"><br>
        <br>
        <button type="button" class="btn btn-default" ng-click="panel_tips=false">{{_('Got it!')}}</button>
    </p>

</div>
<div ng-show="loading" style="position: absolute;top: 0;right: 0;left: 0;bottom: 0;z-index: 1300; background-color: #ededed; padding: 45% 0; text-align: center;" >
    <div class="loader_image pulse"></div>
    <br>{{_('Connecting ...')}}
</div>
<h3>{{_('Configure Connection')}}</h3>
<div class="alert alert-danger" ng-show="error">
    {{_('Error while trying to connect to %1 :', job.server)}}<br>
    <ul style="padding-left:17px;">
        <li>{{_('%1', error)}}</li>
    </ul>
</div>
<div class="well">
    <div class="small" style="margin-bottom: 1.5em;">{{_('Connect to the server with the same URL as the one you would use to access through a web browser, e.g. http://mydomain.com/pydio')}}</div>
    <form name="myForm" class="form-inline">
        <div ng-show="ui_config.login_mode=='standard'">
            <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="updateProtocol('https://')" ng-class="{'btn-success':inline_protocol=='https://','btn-default':inline_protocol=='http://'}">https</button>
                    <button type="button" class="btn btn-default" ng-click="updateProtocol('http://')" ng-class="{'btn-danger':inline_protocol=='http://','btn-default':inline_protocol=='https://'}">http</button>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="min-width: 70px;">{{inline_protocol}}</span>
                    <input autofocus="true" ng-change="parseURL(); error=false;" type="text" name="site" ng-model="inline_host" class="form-control" placeholder="Server URL" required>
                </div>
                <span ng-show="myForm.site.$error.required && !myForm.site.$pristine" class="help-inline">{{_('Required')}}</span>
            </div>
        </div>
        <div class="form-group">
            <input type="text" name="user" ng-model="job.user" class="form-control" placeholder="Login" required>
            <span ng-show="myForm.user.$error.required && !myForm.user.$pristine" class="help-inline">{{_('Required')}}</span>
        </div>
        <div class="form-group">
            <input type="password" name="pwd" ng-model="job.password" class="form-control" placeholder="Password" required>
            <span ng-show="myForm.pwd.$error.required && !myForm.pwd.$pristine" class="help-inline">{{_('Required')}}</span>
        </div>
    </form>
</div>
    <div ng-show="ui_config.login_mode=='standard'">
        {{_('Tips')}}: <a href="" ng-click="panel_tips=true" tabindex="8">{{_('where can I find the server URL?')}}</a>
    </div>
    <div style="text-align: center; margin-top: 40px;">
        <a href="" ng-click="next()" class="btn btn-primary" tabindex="0" ng-disabled="myForm.$invalid">{{_('Connect')}}</a>
         <span ng-show="error && inline_protocol == 'https://'">&nbsp;&nbsp;&nbsp; <span ng-click="job.trust_ssl=!job.trust_ssl"><span class="glyphicon" ng-class="{'glyphicon-unchecked':!job.trust_ssl,'glyphicon-ok':job.trust_ssl}"></span> <label >{{_('Trust SSL certificate')}}</label></span></span>
    </div>
