<h1>2. Configure Credentials</h1>
<p class="lead">
    You are connecting to <a href="{{job.server}}" target="_blank">{{job.server}}</a>
    <br>Use the same credentials as the one you would use to access through the web. e.g.</p>
<div class="well">
    <form name="myForm" class="form-inline">
    <div class="form-group">
        <label>Login</label>
        <input style="width:200px;" type="text" name="user" ng-model="job.user" class="form-control" placeholder="Login" required>
        <span ng-show="myForm.user.$error.required && !myForm.user.$pristine" class="help-inline">Required</span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input style="width:200px;" type="password" name="pwd" ng-model="job.password" class="form-control" placeholder="Password" required>
        <span ng-show="myForm.pwd.$error.required && !myForm.pwd.$pristine" class="help-inline">Required</span>
    </div>
    </form>
</div>
<div class="pull-right">
    <a href="#/edit/{{job.id}}/step1" class="btn btn-primary">&lt;&lt;</a>
    <a href="#/edit/{{job.id}}/step3" class="btn btn-primary" ng-disabled="myForm.$invalid">&gt;&gt;</a>
</div>