<h3>1/3 Select a workspace</h3>
<p class="lead">
    <img src="images/earth.png" style="float: left;width: 100px;margin-top: -20px;">
    Welcome!<br>
    You are connecting to {{job.server}} [<a href="#/new">change</a>]
    <br style="clear: left;">
</p>

<div class="well">

    <h4>Remote workspace</h4>
    <div ng-if="repositories">
        <div class="btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn customButton btn-default dropdown-toggle">
            {{selectedWorkspace}}  <span class="caret pull-right"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="repos" ng-click="OnWorkspaceClick(repo)" ng-repeat="repo in repositories | filter:{'@meta_syncable_REPO_SYNCABLE':'true'}">{{repo.label}}
                <div class="repo-desc">{{repo.description}}</div></li>
            </ul>
        </div>

        <div class="input-group" ng-show="folders && folders.length" style="padding: 7px;">
            <input type="checkbox" ng-model="showFoldersBox" id="show_folders" ng-click="job.remote_folder = ''" >&nbsp;<label for="show_folders">Synchronise only a subfolder of this workspace</label>
        </div>
        <div ng-show="folders && folders.length && showFoldersBox" class="well" style="background-color: white; padding: 10px; margin-top: 7px;">
            <div ng-click="job.remote_folder = ''" ng-class="{'list-group-item-success':!job.remote_folder}" style="cursor: pointer;padding: 5px;border-radius: 3px; display: none;">
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Whole workspace<span ng-if="folders_loading"> [loading...]</span> <span>{{folders_loading_error}}</span>
            </div>
            <!-- Want to loose the div in the repeat as well -->
            <div>
                <ng-include
                        ng-repeat="child in folders"
                        src="'tree_node.html'"
                        onload="data = child;job = job"/>
            </div>
        </div>
    </div>
    <div ng-if="!repositories && job.workspace" class="well-sm">
        <div class="input-group">
            <label class="input-group-addon">Workspace</label>
            <input type="text" readonly class="form-control" ng-model="job.workspace"/>
            <label class="input-group-addon">Folder</label>
            <input type="text"readonly class="form-control" ng-model="job.remote_folder"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="loadWorkspaces()">Change</button>
            </span>
        </div>
    </div>

</div>
<div class="navbar navbar-inverse navbar-fixed-bottom" style="padding: 6px;">
    <a ng-click="save('step2')" class="btn btn-info pull-right" ng-disabled="!(job.workspace || job.repoObject)">Next</a>
</div>