<h3>{{_('1/3 Select a workspace')}}</h3>
<p class="lead">
    <img src="images/earth.png" style="float: left;width: 100px;margin-top: -20px;">
    {{_('Welcome %1!', job.user_display_name?job.user_display_name:job.user)}}<br>
    {{_('You are connecting to %1', job.application_title?job.application_title+' ('+job.server+')':job.server)}} [<a href="#/new">{{_('change')}}</a>]
    <br style="clear: left;">
</p>

<div class="well">

    <h4>{{_('Remote workspace')}}</h4>
    <div ng-if="repositories">
        <div class="btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn customButton btn-default dropdown-toggle">
            {{selectedWorkspace}}  <span class="caret pull-right"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="repos" ng-click="OnWorkspaceClick(repo)" ng-repeat="repo in repositories | filter:{'@meta_syncable_REPO_SYNCABLE':'true'}">{{repo.label}}
                <div class="repo-desc">{{repo.description}}</div></li>
            </ul>
        </div>

        <div class="input-group" ng-show="folders && folders.length" style="padding: 7px;">
            <span ng-click="showFoldersBox=!showFoldersBox;job.remote_folder=''"><span class="glyphicon" ng-class="{'glyphicon-unchecked':!showFoldersBox,'glyphicon-ok':showFoldersBox}"></span> <label >{{_('Synchronise only a subfolder of this workspace')}}</label></span>
        </div>
        <div style="padding:7px 10px;" ng-if="folders_loading"> [{{_('loading')}}...]</div>
        <div style="padding:7px 10px;" ng-if="folders_loading_error">{{folders_loading_error}}</div>
        <div ng-show="folders && folders.length && showFoldersBox" class="well" style="background-color: white; padding: 10px; margin-top: 7px;">
            <div ng-click="job.remote_folder = ''" ng-class="{'list-group-item-success':!job.remote_folder}" style="cursor: pointer;padding: 5px;border-radius: 3px; display: none;">
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{{_('Whole workspace')}}<span ng-if="folders_loading"> [{{_('loading')}}...]</span> <span>{{folders_loading_error}}</span>
            </div>
            <!-- Want to loose the div in the repeat as well -->
            <div>
                <ng-include
                        ng-repeat="child in folders"
                        src="'tree_node.html'"
                        onload="data = child;job = job"/>
            </div>
        </div>
    </div>
    <div ng-if="!repositories && job.workspace" class="well-sm">
        <div class="input-group">
            <label class="input-group-addon">{{_('Workspace')}}</label>
            <input type="text" readonly class="form-control" ng-model="job.workspace"/>
            <label class="input-group-addon">{{_('Folder')}}</label>
            <input type="text"readonly class="form-control" ng-model="job.remote_folder"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="loadWorkspaces()">{{_('Change')}}</button>
            </span>
        </div>
    </div>

</div>
<div class="navbar navbar-inverse navbar-fixed-bottom" style="padding: 6px;">
    <a ng-click="save('step2')" class="btn btn-info pull-right" ng-disabled="!(job.workspace || job.repoObject)">{{_('Next')}}</a>
</div>