<div ng-if="showAdvanced" style="position: fixed;top: 0;right: 0;left: 0; bottom:0;z-index: 10000;background-color: rgba(0,0,0,0.4)"></div>
<div ng-show="showAdvanced" style="position: absolute;top: 60px;right: 20px;left: 20px;bottom: 50px;z-index: 1000000;box-shadow: 2px 2px 15px rgba(0,0,0,0.25);" >
    <div class="modal" style="display: block;">
    <div class="modal-dialog" >
    <div class="modal-content" >
        <div class="modal-header">
            <button type="button" class="close" ng-click="showAdvanced=false" data-dismiss="modal" style="color: #000000;" aria-hidden="true">&times;</button>
            <div class="modal-title">{{_('Advanced Parameters')}}</div>
        </div>
        <div class="modal-body">
            <ng-include src="'advanced.html'" onload="job = job"></ng-include>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="showAdvanced=false" class="btn btn-primary" tabindex="0" ng-disabled="myForm.$invalid">{{_('Save changes')}}</button>
        </div>
    </div>
        </div></div>
</div>


<h3 ng-show="!destination_2">{{_('2/3 Select a destination')}}</h3>

<div ng-show="!destination_2" class="well">

    {{_('By default a local folder will be created on your computer')}}

    <p style="text-align: center">
        <img src="images/desktop.png"/>

        <div class="form-group">
            <div class="input-group">
                <input type="text" ng-model="job.directory" readonly class="form-control">
                <span class="input-group-addon" ng-click="openDirChooser()" style="cursor: pointer;" ><span class="glyphicon glyphicon-list-alt"></span> {{_('Change')}} </span>
            </div>
        </div>

    </p>


</div>


<h3 ng-show="destination_2">{{_('3/3 Optional Parameters')}}</h3>

<div  ng-show="destination_2" class="well">

    <div class="small pull-left" style="text-align: center; width: 40%; overflow: visible;">
        <img src="images/earth.png" style="width: 100px;margin-top: -4px;"><br>
        {{_('Server')}}: {{job.server}}<br>
        {{_('Workspace')}}: {{job.repoObject['label']}}<br>
        {{_('Folder')}}: <span ng-if="job.remote_folder">{{job.remote_folder}}</span><span ng-if="!job.remote_folder">{{_('Whole workspace')}}</span>
        [<a href="#/edit/new/step2">{{_('change')}}</a>]
    </div>

    <span style="display: block; float:left; width: 20%;margin: 50px auto; border-top: 1px dashed #000000;"></span>

    <div class="small pull-right" style="text-align: center; width: 40%; overflow: visible; word-break: break-all;">
        <img src="images/desktop.png" style="width: 100px;"><br>
        {{_('Local folder')}}: {{job.directory}}<br>
        [<a href ng-click="showAdvanced=true">{{_('change')}}</a>]
    </div>

    <p style="clear: left;"></p>

    <p class="lead">
        <div class="form-group">
            <p class="small">{{_('Name this synchro')}}:</p>
            <input class="form-control" type="text" ng-model="job.label">
        </div>
    </p>


    <!-- ADVANCED LINK AND PARAMS -->
    <p style="margin-top: 21px;">
        <a ng-click="showAdvanced=!showAdvanced;" style="cursor: pointer;"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': !showAdvanced, 'glyphicon-chevron-down': showAdvanced}"></span> {{_('Advanced Parameters')}}</a>
    </p>

</div>


<!-- NAV BAR -->
<div ng-show="!destination_2" class="navbar navbar-inverse navbar-fixed-bottom" style="padding: 6px;">
    <a class="btn btn-info pull-left" href="#/edit/new/step2">{{_('Previous')}}</a>
    <a class="btn btn-info pull-right" ng-click="destination_2=true">{{_('Next')}}</a>
</div>

<!-- NAV BAR -->
<div  ng-show="destination_2" class="navbar navbar-inverse navbar-fixed-bottom" style="padding: 6px;">
    <a class="btn btn-info pull-left" ng-click="destination_2=false">{{_('Previous')}}</a>
    <a class="btn btn-info pull-right" ng-click="save('step3')">{{_('Next')}}</a>
</div>
