<h3>3/3 Advanced Parameters</h3>

<div class="well">

    <p class="lead"> You are going to connect a remote workspace to a folder in your computer:</p>

    <div class="small pull-left" style="text-align: center; width: 30%; overflow: visible;">
        <img src="images/earth.png" style="width: 100px;margin-top: -4px;"><br>
        {{job.repoObject['label']}}{{job.remote_folder?': ' + job.remote_folder : ' (whole workspace)'}}<br>
        [<a href="#/edit/new/step2">change</a>]
    </div>

    <span style="display: block; float:left; width: 40%;margin: 50px auto; border-top: 1px dashed #000000;"></span>

    <div class="small pull-right" style="text-align: center; width: 30%; overflow: visible; word-break: break-all;">
        <img src="images/desktop.png" style="width: 100px;"><br>
        {{job.directory}}<br>
        [<a href ng-click="showAdvanced=true">change</a>]
    </div>

    <p style="clear: left;"></p>

    <p class="lead">
        <div class="form-group">
            <span class="small">Give a name to this sync:</span>
            <input class="form-control" type="text" ng-model="job.label">
        </div>
    </p>


    <!-- ADVANCED LINK AND PARAMS -->
    <p style="margin-top: 21px;">
        <a ng-click="showAdvanced=!showAdvanced;" style="cursor: pointer;"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': !showAdvanced, 'glyphicon-chevron-down': showAdvanced}"></span> Advanced Parameters</a>
    </p>
    <div ng-show="showAdvanced" style="margin-top: 20px;">
        <ng-include src="'advanced.html'" onload="job = job"/>
    </div>


</div>


<!-- NAV BAR -->
<div class="navbar navbar-inverse navbar-fixed-bottom" style="padding: 6px;">
    <a class="btn btn-info pull-left" href="#/edit/new/step2">Previous</a>
    <a class="btn btn-info pull-right" ng-click="save('step3')">Next</a>
</div>
