<script id="treeNode.html" type="text/ng-template">
    <div ng-click="job.selection=data.filename" style="cursor: pointer">
        <span ng-class="{'glyphicon-folder-open': job.selection == data.filename, 'glyphicon-folder-close': job.selection != data.filename}"
                class="glyphicon"></span>&nbsp;&nbsp;<span ng-bind="data['@text']"></span>
    </div>
    <!-- Want to loose the div in the repeat as well -->
    <div style="padding-left:25px;">
        <ng-include
                ng-if="data.tree && data.tree.length > 0"
                onload="data = child"
                ng-repeat="child in data.tree"
                src="'treeNode.html'"></div>
    </div>
</script>

<div ng-show="job.id!='new'">
    <h1>Task Configuration</h1>
    <p class="lead">
        Update the connection parameters and advanced options of this synchronization task.
    </p>
</div>

<div ng-show="job.id=='new'">
    <h1>3. Select Workspace</h1>
    <p class="lead">
        Welcome {{job.user}}!<br>
        You are connected to <a href="{{job.server}}" target="_blank">{{job.server}}</a>
        <br>Select a workspace and/or a subfolder that you want to synchronize.
    </p>
</div>

<div class="well">

    <form ng-show="job.id!='new'" class="">
        <h4>Server Connexion</h4>
        <div class="form-group">
            <label>Server Address</label>
            <input style="width:300px;" type="url" name="site" ng-model="job.server" class="form-control" placeholder="http:// .... " required>
            <span ng-show="myForm.site.$error.required && !myForm.site.$pristine" class="help-inline">Required</span>
            <span ng-show="myForm.site.$error.url" class="help-inline">Not a URL</span>
        </div>
        <div class="form-group">
            <label>Login</label>
            <input style="width:150px;" type="text" name="user" ng-model="job.user" class="form-control" placeholder="Login" required>
            <span ng-show="myForm.user.$error.required && !myForm.user.$pristine" class="help-inline">Required</span>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input style="width:150px;" type="password" name="pwd" ng-model="job.password" class="form-control" placeholder="Password" required>
            <span ng-show="myForm.pwd.$error.required && !myForm.pwd.$pristine" class="help-inline">Required</span>
        </div>
    </form>

    <h4>Remote workspaces</h4>
    <select ng-model="job.repoObject" ng-options="repo as repo.label for repo in repositories" class="form-control">
        <option value="">-- Select a workspace --</option>
    </select>
    <div class="well" style="background-color: white; padding: 10px;">
        <ng-include
                ng-repeat="child in folders"
                src="'treeNode.html'"
                onload="data = child"/>
    </div>

    <a ng-click="showAdvanced=!showAdvanced;" style="cursor: pointer;"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': !showAdvanced, 'glyphicon-chevron-down': showAdvanced}"></span> Advanced Parameters</a>

    <div ng-show="showAdvanced" style="margin-top: 20px;">
        <div>
            <h4>Local Folder</h4>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" ng-model="job.directory" class="form-control">
                    <span class="input-group-addon"><span style="cursor: pointer;" class="glyphicon glyphicon-list-alt"></span></span>
                </div>
            </div>
        </div>

        <div>
            <h4>Sync Direction</h4>
            <p>By default, modifications from both sides (local/remote) are automatically reflected on the other side. You can limit this to one direction, enabling a backup-like job ('up' only) or a mirroring job ('down' only).</p>
            <div class="form-group">
                <select class="form-control" ng-model="job.direction">
                    <option value="bi">Bi-directionnal</option>
                    <option value="up">Upload only (backup style)</option>
                    <option value="down">Download only (mirroring style)</option>
                </select>
            </div>
        </div>

        <div>
            <h4>Conflicts</h4>
            <p>Conflicts are cases where a file was modified on both local and remote sides at the same time. When they happen, sync is stopped until you manually decide which version to keep. You can automatically force the conflict resolution.</p>
            <div class="form-group">
                <input type="radio" name="conflict"> Solve keeping remote version <br>
                <input type="radio" name="conflict"> Solve keeping local version
            </div>
        </div>

        <div>
            <h4>Monitoring</h4>
            <p>If you are synchronizing a huge amount of files, you can disable the continuous monitoring of the local folder and let the synchro run at a fixed period instead.</p>
            <div class="form-group center-block">
                <input type="checkbox" name="disable_monitoring" ng-model="monitoring"> Disable Folder Monitoring and check every <input type="number" style="width:45px" value="60" ng-disabled="!monitoring"> mn instead.<br>
            </div>
        </div>
    </div>
</div>
<div class="pull-right">
    <a href="#/edit/{{job.id}}/step2" class="btn btn-primary" ng-show="job.id=='new'">&lt;&lt;</a>
    <a href="#/summary/{{job.id}}" class="btn" ng-show="job.id!='new'">Cancel</a>
    <a ng-click="save()" class="btn btn-primary" ng-disabled="!job.selection">Save</a>
</div>

