<h2>About PydioSync</h2>
    <p>PydioSync v##VERSION## - Build ##COMMIT## (##BUILD_CHANNEL##) - ##VERSION_DATE##
        <br>&copy; 2015 Abstrium SAS
        <br>Pydio is a trademark of Abstrium SAS
        <br>More info on <a href="https://pyd.io/">https://pyd.io/</a>
    </p>

        <h3>Troubleshooting</h3>

        <p>If you are an end-user please contact your administrator to get help!</p>
        <p>If you are an administrator, please make sure to meet the following requirements on the server:
             <ul>
                <li>Use Pydio server version 6 or above</li>
                <li>Enable RewriteRule mechanism and make sure the RESTful API is working correctly</li>
                <li>Add indexation and meta.syncable aspects to the workspaces you want to be syncable</li>
                <li>If on Https (recommended), do not use a self-signed SSL certificate.</li>
             </ul>
            If you still cannot get this tool to work correctly, please visit our forum <a href="https://pyd.io/f/">https://pyd.io/f/</a>.
            Please provide us the logs so we can help you !
        </p>

        <a class="btn btn-info center-block" ng-if="QtObject" ng-click="openLogs()"> <span class="glyphicon glyphicon-open"></span>&nbsp;&nbsp;Open Pydio Logs</a>

        <h3>Get Enterprise support</h3>

        <p>Learn how to get Pydio enterprise support on <a href="https://pydio.com/">https://pydio.com/</a></p>

        <h3>Licensing</h3>
        <p>PydioSync code is licensed under Apache 2. You can find the source code <a href="https://github.com/pydio/pydio-sync">here</a>.</p>
        <p>PydioSync-UI code is licensed under GPL. You can find the source code <a href="https://github.com/pydio/pydio-sync-ui">here</a>.</p>
        <p>Librsync is distributed under the LGPL. See <a href="https://github.com/librsync/librsync">https://github.com/librsync/librsync</a> </p>
        <p>Icons from Bootstrap theme are a subset of <a href="http://glyphicons.com">Glyphicons.com</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p>BootstrapCSS Framework, Bootstrap Lumen theme, and AngularJS framework are licensed under MIT.</p>
