<h2 class="editHeader">SYNC {{job.label?job.label:job.id}} parameters
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" ng-click="toggleJobActive()" class="btn" ng-class="{'btn-success':job.active,'btn-default':!job.active}">On</button>
            <button type="button" ng-click="toggleJobActive()" class="btn" ng-class="{'btn-danger':!job.active,'btn-default':job.active}">Off</button>
        </div>
    </div>
</h2>
<div style="margin-top: 90px;">
    <div class="small pull-left" style="text-align: center; width: 40%; overflow: visible;">
        <img src="images/earth.png" style="width: 100px;margin-top: -4px;"><br>
        Server: {{job.server}}<br>
        Workspace: {{job.workspace}}<br>
        <span ng-if="job.remote_folder">Folder: {{job.remote_folder}}</span>
    </div>

    <span style="display: block; float:left; width: 20%;margin: 50px auto; border-top: 1px dashed #000000;"></span>

    <div class="small pull-right" style="text-align: center; width: 40%; overflow: visible; word-break: break-all;">
        <img src="images/desktop.png" style="width: 100px;"><br>
        {{job.directory_label?job.directory_label:job.directory}}<br>
    </div>
    <br style="clear: both;">

    <h3 style="margin-top: 30px;">Server Connexion</h3>
    <div>
        <div class="input-group">
            <span class="input-group-addon">Login</span>
            <input type="text" name="user" ng-model="job.user" class="form-control" placeholder="Login" required>
            <span class="input-group-addon">Password</span>
            <input type="password" name="pwd" ng-model="job.password" class="form-control" placeholder="Password" required>
        </div>
    </div>

    <h3 style="margin-top: 30px;">Local Folder</h3>
    <div class="">
        <div class="input-group">
            <input type="text" ng-model="job.directory" readonly class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openDirChooser()" type="button">Choose</button>
            </span>
        </div>
    </div>


    <h3 style="margin-top: 30px;">Remote workspace</h3>
    <div ng-if="!repositories && job.workspace" class="">
        <div class="input-group">
            <label class="input-group-addon">Workspace</label>
            <input type="text" readonly class="form-control" ng-model="job.workspace"/>
            <label class="input-group-addon">Folder</label>
            <input type="text"readonly class="form-control" ng-model="job.remote_folder"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="loadWorkspaces()">Change</button>
            </span>
        </div>
    </div>

    <div ng-if="repositories">
        <select autofocus="true" ng-change="loadFolders()" ng-model="job.repoObject" ng-options="repo as repo.label for repo in repositories | filter:{'@meta_syncable_REPO_SYNCABLE':'true'}" class="form-control">
            <option value="">-- Select a workspace --</option>
        </select>
        <div class="input-group" ng-show="folders && folders.length" style="padding: 7px;">
            <input type="checkbox" ng-model="showFoldersBox" id="show_folders" ng-click="job.remote_folder = ''" >&nbsp;<label for="show_folders">Synchronise only a subfolder of this workspace</label>
        </div>
        <div ng-show="folders && folders.length && showFoldersBox" class="well" style="background-color: white; padding: 10px; margin-top: 7px;">
            <div ng-click="job.remote_folder = ''" ng-class="{'list-group-item-success':!job.remote_folder}" style="cursor: pointer;padding: 5px;border-radius: 3px; display: none;">
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Whole workspace<span ng-if="folders_loading"> [loading...]</span> <span>{{folders_loading_error}}</span>
            </div>
            <!-- Want to loose the div in the repeat as well -->
            <div>
                <ng-include
                        ng-repeat="child in folders"
                        src="'tree_node.html'"
                        onload="data = child;job = job"/>
            </div>
        </div>
    </div>

    <h3 style="margin-top: 50px;">Advanced parameters</h3>
    <ng-include src="'advanced.html'" onload="job = job"></ng-include>

    <div>
        <br style="clear: both">
    </div>

    <div style="text-align: center; padding-bottom: 40px;">
        <button type="button" ng-click="save('full')" class="btn btn-info" style="width: 49%">Save Parameters</button>
    </div>

</div>

<div  class="navbar-inverse navbar-fixed-bottom" style="padding: 10px; text-align: center; background-color: #77b8e2;">
    <button type="button"  class="btn btn-danger" ng-click="deleteJob()" style="width: 49%;" href>Delete Sync</button>
</div>
