<h2 class="editHeader">{{_('SYNC %1 parameters', job.label?job.label:job.id)}}
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" ng-click="toggleJobActive()" class="btn" ng-class="{'btn-success':job.active,'btn-default':!job.active}">On</button>
            <button type="button" ng-click="toggleJobActive()" class="btn" ng-class="{'btn-danger':!job.active,'btn-default':job.active}">Off</button>
        </div>
    </div>
</h2>
<div style="margin-top: 120px;">
    <div class="small pull-left" style="text-align: center; width: 40%; overflow: visible;">
        <img src="images/earth.png" style="width: 100px;margin-top: -4px;"><br>
        {{_('Server')}}: {{job.server}}<br>
        {{_('Workspace')}}: {{job.workspace}} <a href="{{job.server}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a><br>
        <span ng-if="job.remote_folder">{{_('Folder')}}: {{job.remote_folder}}</span>
    </div>

    <span style="display: block; float:left; width: 20%;margin: 50px auto; border-top: 1px dashed #000000;"></span>

    <div class="small pull-right" style="text-align: center; width: 40%; overflow: visible; word-break: break-all;">
        <img src="images/desktop.png" style="width: 100px;"><br>
        {{job.directory_label?job.directory_label:job.directory}} <a ng-show="QtObject" ng-click="openFile(job.directory+'/')"><span class="glyphicon glyphicon-new-window"></span></a><br>
    </div>
    <br style="clear: both;">

    <h3 style="margin-top: 30px;">{{_('Label')}}</h3>
    <div class="">
        <input type="text" ng-model="job.label" class="form-control">
    </div>


    <h3 style="margin-top: 30px;">{{_('Server Connexion')}}</h3>
    <div>
        <div class="input-group">
            <span class="input-group-addon">{{_('Login')}}</span>
            <input type="text" name="user" ng-model="job.user" class="form-control" placeholder="Login" required>
            <span class="input-group-addon">{{_('Password')}}</span>
            <input type="password" name="pwd" ng-model="job.password" class="form-control" placeholder="Password" required>
        </div>
    </div>

    <h3 style="margin-top: 30px;">{{_('Local Folder')}}</h3>
    <div class="">
        <div class="input-group">
            <input type="text" ng-model="job.directory" readonly class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openDirChooser()" type="button">{{_('Choose')}}</button>
            </span>
        </div>
    </div>


    <h3 style="margin-top: 30px;">{{_('Remote workspace')}}</h3>
    <div ng-if="!repositories && job.workspace" class="">
        <div class="input-group">
            <label class="input-group-addon">{{_('Workspace')}}</label>
            <input type="text" readonly class="form-control" ng-model="job.workspace"/>
            <label class="input-group-addon">{{_('Folder')}}</label>
            <input type="text"readonly class="form-control" ng-model="job.remote_folder"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="loadWorkspaces()">{{_('Change')}}</button>
            </span>
        </div>
    </div>

    <div ng-if="repositories">

        <div class="btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn customButton btn-default dropdown-toggle">
            {{selectedWorkspace}}  <span class="caret pull-right"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="repos" ng-click="OnWorkspaceClick(repo)" ng-repeat="repo in repositories | filter:{'@meta_syncable_REPO_SYNCABLE':'true'}">{{repo.label}}
                <div class="repo-desc">{{repo.description}}</div></li>
            </ul>
        </div>

        <div class="input-group" ng-show="folders && folders.length" style="padding: 7px;">
            <input type="checkbox" ng-model="showFoldersBox" id="show_folders" ng-click="job.remote_folder = ''" >&nbsp;<label for="show_folders">{{_('Synchronise only a subfolder of this workspace')}}</label>
        </div>
        <div ng-show="folders && folders.length && showFoldersBox" class="well" style="background-color: white; padding: 10px; margin-top: 7px;">
            <div ng-click="job.remote_folder = ''" ng-class="{'list-group-item-success':!job.remote_folder}" style="cursor: pointer;padding: 5px;border-radius: 3px; display: none;">
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{{_('Whole workspace')}}<span ng-if="folders_loading"> {{_('[loading...]')}}</span> <span>{{folders_loading_error}}</span>
            </div>
            <!-- Want to loose the div in the repeat as well -->
            <div>
                <ng-include
                        ng-repeat="child in folders"
                        src="'tree_node.html'"
                        onload="data = child;job = job"/>
            </div>
        </div>
    </div>

    <h3 style="margin-top: 50px; cursor:pointer;" ng-click="edit_show_advanced=!edit_show_advanced">
        <span ng-class="{'glyphicon-chevron-right':!edit_show_advanced,'glyphicon-chevron-down':edit_show_advanced}" class="small glyphicon"></span> {{_('Advanced parameters')}}<span ng-if="!edit_show_advanced">...</span>
    </h3>
    <div ng-show="edit_show_advanced">

        <ng-include src="'advanced.html'" onload="job = job"></ng-include>

    </div>

    <div>
        <br style="clear: both">
    </div>

</div>

<div  class="navbar-inverse navbar-fixed-bottom" style="padding: 10px; text-align: right; background-color: #77b8e2;">
    <a href="#" title="Cancel"><span class="glyphicon glyphicon-arrow-left" style="color: white;font-size: 27px;position: absolute;left: 10px;top: 13px;"></span></a>
    <button type="button"  class="btn btn-danger" ng-click="deleteJob()" style="width: 40%;margin:0 1%;" href>{{_('Delete Sync')}}</button>
    <button type="button" ng-click="save('full')" class="btn btn-info" style="width: 40%;margin:0 1%;">{{_('Save Parameters')}}</button>
</div>
