<h2 class="generalConfigHeader" ng-value="GetGeneralConfigsDetails()" style="display:flex; align-items: center; margin-top: 20px;padding: 6px 0;">
    <span style="flex: 1">{{_('General configurations page')}}</span>
    <button type="button" ng-click="about_page()" class="btn" ng-class="{'btn-info':'true','btn-default':'true'}" style="margin-right: 2px;">{{_('About')}}</button>
</h2>

<div  style="padding-bottom: 40px; margin: 0;">

    <div class="well">
        <h4>{{_('Update settings')}}</h4>
        <div>
            <p class="small" style="margin-top:2%;">
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn" ng-click="general_configs_data.update_info.enable_update_check='true'" ng-class="{'btn-success':general_configs_data.update_info.enable_update_check=='true'||general_configs_data.update_info.enable_update_check===true,'btn-default':general_configs_data.update_info.enable_update_check=='false'||general_configs_data.update_info.enable_update_check===false}">On</button>
                        <button type="button" class="btn btn-default" ng-click="general_configs_data.update_info.enable_update_check='false'" ng-class="{'btn-default':general_configs_data.update_info.enable_update_check=='true'||general_configs_data.update_info.enable_update_check===true}">Off</button>
                    </div>
                </div>
            {{_('Enable / Disable update here.')}}</p>

            <div ng-show="general_configs_data.update_info.enable_update_check=='true'" style="margin-top:5%;">
                <p class="small" style="margin-top:2%;">{{_('Set the update check frequency (here 1 means update check only once a day, default value 0 means it check for update each time agent establishes a new connection with UI) ')}}</p>
                <div class="input-group">
                    <span class="input-group-addon" >{{_('Update check frequency in days')}}</span>
                    <input type="number" min="0" max="1000000" ng-model="general_configs_data.update_info.update_check_frequency_days" class="form-control" >
                </div>

                <p class="small" style="margin-top:2%;">{{_('Date on which last update check happened')}}</p>
                <div class="input-group" style="text-align:left;">
                    <span class="input-group-addon">{{_('Last update check was on: ')}}</span><span class="input-group-addon"></span>
                    <span class="input-group-addon">{{general_configs_data.update_info.last_update_date | date}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="well" ng-show="ui_config.login_mode === 'alias'" ng-value="proxies">
        <h4>{{_('Proxy settings')}}</h4>
        <div ng-show="general_configs_show_proxy_settings">
            <p class="small" style="margin-top:2%;">
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" ng-click="proxies.https.active = 'true'" class="btn" ng-class="{'btn-success':proxies.https.active == 'true','btn-default':proxies.https.active =='true'}">On</button>
                    <button type="button" ng-click="proxies.https.active = 'false'" class="btn" ng-class="{'btn-danger':proxies.https.active == 'false','btn-default':proxies.https.active =='false'}">Off</button>
                </div>
            </div>
            {{_('Enable / Disable Proxy.')}}</p>

            <div ng-show="proxies.https.active =='true'" style="margin-top:2%;">
                <p>{{_('If you want the network connections to pass through proxy, fill the parameters below.')}}</p>
                <h4> Https settings </h4>
                    <form name="settingsHTTPS" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="s_proxy_url" ng-model="proxies.https.url" class="form-control" placeholder="{{ proxies.https.url === '' ? 'pydio.com:8083' : proxies.https.url }}" autofocus required/>
                        </div>
                        <div class="form-group">
                                <input type="text" name="https_user" ng-model="proxies.https.username" class="form-control" placeholder="{{ proxies.https.username ==''? 'Username' : proxies.https.username}}">
                        </div>
                        <div class="form-group">
                                <input type="password" name="https_password" ng-model="proxies.https.password" class="form-control" placeholder="P*ssw*rd">
                        </div>
                    </form>
                <h4 ng-click="showBlock=!showBlock; scroll(0,10);" ng-init="showBlock = false" style="cursor:pointer;"><span style="font-size: 75%;" class="glyphicon" ng-class="{'glyphicon-chevron-right': !showBlock, 'glyphicon-chevron-down': showBlock}"></span>&nbsp;Http settings...</h4>
                <div ng-show="showBlock">
                    <form name="settingsHTTP" class="form-inline">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" name="proxy_url" ng-model="proxies.http.url" class="form-control" placeholder="{{ proxies.http.url === '' ? 'pydio.com:8080' : proxies.http.url }}" required/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="http_user" ng-model="proxies.http.username" class="form-control" placeholder="{{ proxies.http.username === '' ? 'Username' : proxies.http.username}}">
                            </div>
                            <div class="form-group">
                                <input type="password" name="http_password" ng-model="proxies.http.password" class="form-control" placeholder="P*ssw*rd">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="well">
        <h4>{{_('Log settings')}}</h4>
        <div>
            <p  class="small">{{_('You can change the name of log file here.')}}</p>
            <div class="input-group">
                <span class="input-group-addon" style="min-width:150px;">{{_('File Name')}}</span>
                <input type="text" ng-model="general_configs_data.log_configuration.log_file_name" class="form-control" >
            </div>

            <p class="small" style="margin-top:2%;">{{_('Limit the number of log files to be stored locally.')}}</p>
            <div class="input-group">
                <span class="input-group-addon" style="min-width:150px;">{{_('Number of log files')}}</span>
                <input type="number" ng-model="general_configs_data.log_configuration.handlers.file.backupCount" class="form-control" min="0" max="1000000">
            </div>

            <p class="small" style="margin-top:2%;">{{_('Set restrictions on log file size here.')}}</p>
            <div class="input-group">
                <span class="input-group-addon" style="min-width:150px;">{{general_configs_data.log_configuration.handlers.file.maxBytes | bytes}}</span>
                <input type="number" ng-model="general_configs_data.log_configuration.handlers.file.maxBytes" class="form-control" min="0" max="1000000000000000">
            </div>

            <p class="small" style="margin-top:2%;">{{_('Enhance the log details as you need them.')}}</p>
            <div>
                <div class="advanced_radio_box"
                     ng-class="{'label-radio-selected':general_configs_data.log_configuration.root.level=='INFO'}"
                     ng-click="general_configs_data.log_configuration.root.level='INFO'">
                <label>{{_('Info')}}</label>
                </div>
                <div class="advanced_radio_box"
                ng-class="{'label-radio-selected':general_configs_data.log_configuration.root.level=='DEBUG'}"
                ng-click="general_configs_data.log_configuration.root.level='DEBUG'">
                    <label>{{_('Debug')}}</label>
                </div>
                <div class="advanced_radio_box"
                     ng-class="{'label-radio-selected':general_configs_data.log_configuration.root.level=='WARNING'}"
                     ng-click="general_configs_data.log_configuration.root.level='WARNING'">
                    <label>{{_('Warning')}}</label>
                </div>
            </div>
        </div>
    </div>


    <div class="well">
        <h4 style="margin-top: 10px; cursor:pointer;">{{_('Other settings')}}</h4>
        <h5 style="margin-top:20px;">{{_('Max wait time for local db access')}}</h5>
        <p>{{_('If you encounter database locked error try increasing this value')}}</p>
        <div class="input-group">
            <span class="input-group-addon">{{_('Timeout in seconds')}}</span>
            <input type="number" min="5" max="1000000" ng-model="general_configs_data.max_wait_time_for_local_db_access" class="form-control" >
        </div>
        <h5 style="margin-top:20px;">{{_('Set Language')}}</h5>
        <p>{{_("If you don't want the system's language to be used, manually set it to something else")}}</p>
        <div class="input-group">
            <span class="input-group-addon">{{_('Language ')}}</span>
            <select ng-model="general_configs_data.language" class="form-control">
                <option value="de">Deutsch</option>
                <option value="en">English</option>
                <option value="fr">Français</option>
                <option value="it">Italiano</option>
                <option value="nl">Nederlands</option>
            </select>
        </div>
    </div>

</div>

<div  class="navbar-inverse navbar-fixed-bottom">
    <a href="#" title="Cancel"><span class="glyphicon glyphicon-arrow-left" style="font-size: 16px;position: absolute;left: 16px;top: 20px;"></span></a>
    <button type="button" ng-click="SaveGeneralConfig()" class="btn btn-info" style="width: 40%;margin:0 1%;">{{_('Update Settings')}}</button>
</div>