<script id="job_2.html" type="text/ng-template">
    <div class="panel panel-primary" style="clear: both;">
        <p class="panel-heading" ng-class="{'disabled':!job.active}">
            <a href title="See logs" ng-click="opened_logs_panel != job.id ? openLogsForJob(job.id) : closeLogs()">
                <span class="mdi" ng-class="{'mdi-chevron-right':opened_logs_panel != job.id,'mdi-chevron-down':opened_logs_panel == job.id}"></span>
                <span>{{job.label?job.label:job.id}}</span>
            </a>
            <a class="pull-right" href="#/change/{{job.id}}" title="Edit parameters"><span class="mdi mdi-dots-vertical"></span></a>
        </p>
        <table style="width: 100%;margin-bottom: 5px;">
            <tr>
                <td style="width:80px; text-align: center;">
                    <span ng-if="!job.active">{{_('[DISABLED]')|lowercase}} </span>
                    <div style="position: relative;" ng-if="job.active">
                        <progress-circle progress-circle-model="job.state.global" element-width=70 element-height=70 outer-circle-radius=22 outer-circle-width=4></progress-circle>
                        <a style="font-size: 22px; position: absolute; left: 24px;top: 15px;" href ng-if="job.active" ng-click="job.last_event.status=='error'?openLogsForJob(job.id):applyCmd(job.running?'pause':'resume', job.id)">
                        <span class="mdi" ng-if="job.last_event.status != 'error'" ng-class="{'mdi-pause':job.running,'mdi-play':!job.running, 'display_on_hover':job.state.tasks && job.state.tasks.total}"
                              style="display: inline-block; padding:5px; border-radius: 200px;"></span>
                        <span ng-if="job.last_event.status == 'error'" style="display: inline-block; padding: 5px 13px;">!</span>
                        </a>
                    </div>
                </td>
                <td style="vertical-align: middle; padding-bottom: 5px; color: #9e9e9e; padding-right: 5px;">
                    <div class="" ng-if="job.state.tasks && job.state.tasks.total">
                        <span style="font-size: 15px; color: #555">{{_('Status')}}: {{_('syncing')}}</span>
                        <br>{{_('Size')}}: {{job.state.global['queue_bytesize'] | bytes:1}} -
                        {{_('Estimated time')}}: {{job.state.global['eta'] | seconds}}
                    </div>
                    <div class="" ng-if="(!job.state.tasks || !job.state.tasks.total) && job.last_event">
                        <span ng-if="job.state.global.status_indexing" style="font-size: 15px; color: #555">{{_('Status')}}: {{_('syncing')}}<br></span>
                        <span ng-if="!job.state.global.status_indexing && job.last_event.status != 'error'" style="font-size: 15px; color: #555">{{_('Last sync')}} {{job.last_event.date | moment }}<br></span>
                        <span ng-if="job.last_event.status == 'error'" style="font-size: 15px; color: #555">[{{_('ERROR')}}] {{job.last_event.date | moment }}<br></span>
                        <span style="display:block;max-height: 60px; overflow-y:auto; word-wrap: break-word;">{{job.last_event.message}}</span>
                    </div>
                </td>
            </tr>
        </table>
        <div ng-if="opened_logs_panel == job.id" class="logsDrawer">
            <div ng-if="conflicts.length">
                <h4>{{_('Conflicts')}}</h4>
                <div class="conflictsListContainer">
                    <table style="width: 100%;">
                        <tr ng-repeat="conflict in conflicts">
                            <td style="padding:2px 0; width: 50%;">{{conflict.node_path | basename}}</td>
                            <td style="text-align: right;padding:2px 0;">
                                <a href ng-if="conflict.status.indexOf('SOLVED:') === -1" class="small" style="text-decoration: none;" ng-click="conflict_solver.current=conflict">{{_('Solve Conflict')}}</a>
                                <span ng-if="conflict.status.indexOf('SOLVED:') === 0" class="small">{{_('Solved')}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <h4>{{_('Last files synced')}}<span ng-if="(logs | filter: {action:'!loop'} ).length" style="font-size:80%; float:right; text-overflow: ellipsis;">{{ job["last_action"] | moment }}</span></h4>
            <div class="logsListContainer" ng-init="limit=100;">
                <table style="width: 100%;">
                    <tr ng-if="!(logs | filter: {action:'!loop'} ).length"><td style="border-bottom: 0;">{{_('No recent records')}}</td></tr>
                    <tr ng-repeat="log in logs | filter: {action:'!loop'} | orderBy:'id':true  | limitTo: limit">
                        <td style="width: 20px;">
                            <span ng-if="log.action=='delete'" class="mdi mdi-delete"></span>
                            <span ng-if="log.action!=='delete' && log.type=='remote'" class="mdi mdi-upload"></span>
                            <span ng-if="log.action!=='delete' && log.type=='local'" class="mdi mdi-download"></span>
                        </td>
                        <td>{{log.source && log.source!='NULL' ? log.source:log.target | basename}}</td>
                        <td ng-show="QtObject && log.action!='delete'" ng-click="openFile(job.directory + (log.source && log.source!='NULL' ? log.source:log.target))" style="text-align: right;padding:2px 0; width: 15%;"><a style="text-decoration: none;" class="small" href="">{{_('Open File')}}</a></td>
                    </tr>
                </table>
            </div>

            <h4 ng-if="running.tasks.total && running.tasks.current.length"  >{{_('Transfers in progress')}} <span class="small">({{running.tasks.total}})</span></h4>
            <div class="logsListContainer" ng-if="running.tasks.total && running.tasks.current.length">
                <table style="width: 100%;">
                    <tr ng-repeat="task in running.tasks.current">
                        <td style="width: 20px;">
                            <span ng-if="!task.total_bytes_sent && task.location == 'local'" class="mdi mdi-upload"></span>
                            <span ng-if="!task.total_bytes_sent && task.location == 'remote'" class="mdi mdi-download"></span>
                        </td>
                        <td>{{task.target && task.target != 'NULL'?task.target:task.source | basename}}
                            <span ng-if="task.total_bytes_sent" class="badge">{{ task.bytesize > 0 ? Math.min(100, 100 * task.total_bytes_sent / task.bytesize) : 0 | number: 0}}%</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--
    <div class="openDrawer">
        <a href title="See logs" ng-click="opened_logs_panel != job.id ? openLogsForJob(job.id) : closeLogs()"><span class="glyphicon" ng-class="{'glyphicon-chevron-down':opened_logs_panel != job.id,'glyphicon-chevron-up':opened_logs_panel == job.id}"></span></a>
    </div>
    -->
</script>


<div ng-if="conflict_solver.current" style="position: fixed;top: 0;right: 0;left: 0; bottom:0;z-index: 80;background-color: rgba(0,0,0,0.4)"></div>
<div class="well" ng-if="conflict_solver.current" style="position: fixed;top: 35%;right: 20px;left: 20px;z-index: 100;box-shadow: 2px 2px 15px rgba(0,0,0,0.25);" >
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="conflict_solver.current=false">&times;</button>
    {{_('An element named %1 was modified on both the server and on your local computer. Select how you want to solve this conflicting case:', conflict_solver.current.node_path)}}
    <div style="text-align: center; margin: 20px 0 0;">
        <span ng-click="conflict_solver.applyToAll=!conflict_solver.applyToAll;"><span class="mdi" ng-class="{'mdi-checkbox-blank-outline':!conflict_solver.applyToAll,'mdi-checkbox-marked-outline':conflict_solver.applyToAll}"></span> <label >{{_('Apply to all conflicts')}}</label></span>
        <div style="text-align: center;margin-top: 10px;">
            <a href="" ng-click="solveConflict(conflict_solver.current.node_id, 'SOLVED:KEEPLOCAL');" class="btn btn-default" tabindex="0" style="margin-right: 10px;">{{_('Mine')}}</a>
            <a href="" ng-click="solveConflict(conflict_solver.current.node_id, 'SOLVED:KEEPBOTH');" class="btn btn-default" tabindex="0">{{_('Both Versions')}}</a>
            <a href="" ng-click="solveConflict(conflict_solver.current.node_id, 'SOLVED:KEEPREMOTE');" class="btn btn-default" tabindex="0" style="margin-left: 10px;">{{_('Theirs')}}</a>
        </div>
    </div>
</div>
<div class="alert alert-danger alert-dismissable" ng-if="error" style="margin-top: 24px; margin-bottom: -14px;">{{error}}</div>
<div style="margin-top: 25px;"></div>
<ng-include
        onload="job = job_d"
        ng-repeat="job_d in jobs | filter:{active:true} | orderBy:'workspace'"
        src="'job_2.html'"></ng-include>
<ng-include
        onload="job = job_desc"
        ng-repeat="job_desc in jobs | filter:{active:false} | orderBy:'workspace'"
        src="'job_2.html'"></ng-include>


<!-- NAV BAR -->
<div  class="navbar-inverse navbar-fixed-bottom">
    <a ng-if="ui_config.login_mode=='standard'" href="#/new" class="btn"><span class="mdi mdi-plus"></span> {{_('Create a new synchronization')}}</a>
    <a ng-if="ui_config.login_mode=='alias'" href="#/welcome" class="btn"><span class="mdi mdi-plus"></span> {{_('Create a new synchronization')}}</a>
</div>
