<div class="alert alert-danger alert-dismissable" ng-if="error">{{error}}</div>

<h4 ng-if="logs.length">{{_('Last files synced')}}</h4>
<div ng-repeat="log in logs | limitTo:3">
    <span ng-if="log.md5 != 'directory'" class="glyphicon glyphicon-file"></span>
    <span ng-if="log.md5 == 'directory'" class="glyphicon glyphicon-folder-close"></span>
    <span>{{log[4] && log[4]!=NULL ? log[4]:log[3] | basename}}</span>
    <a style="float: right" class="small" href="file://{{log[4] && log[4]!=NULL ? log[4]:log[3]}}">{{_('Open File')}}</a>
</div>

<h4 ng-if="running.tasks.total"  >{{_('Files in process')}} <span class="small">({{running.tasks.total}})</span></h4>
<div ng-repeat="task in running.tasks.current | limitTo:3">
    <span ng-if="task.progress"><span class="small">{{task.progress | number:0}}%</span></span>
    <span ng-if="task.location == 'local'" class="glyphicon glyphicon-cloud-upload"></span>
    <span ng-if="task.location == 'remote'" class="glyphicon glyphicon-cloud-download"></span>
    <span>{{task.target && task.target != 'NULL'?task.target:task.source | basename}}</span>
</div>

<div ng-if="conflicts.length">
    <h4>{{_('Conflicts')}}</h4>
    <div ng-repeat="conflict in conflicts">
        <span>{{conflict.node_path | basename}}</span>
        <a style="float: right" class="small">{{_('Solve Conflict')}}</a>
    </div>
</div>
