<h3>{{_('Share via Pydio')}}</h3>

<div class="well">
    <form name="myForm" class="form-inline">
        <div>
            <h4>{{_('Shared Link')}}</h4>
            <div class="form-group">
                <div />
                    <div class="input-group" align="centre">
                        <input type="text" size="60" ng-model="share_link" readonly class="form-control" ng-value="GetShareLink()">
                    </div>
                <div />
                <div class="input-group" align="centre"> Use <kbd>Ctrl</kbd> + <kbd>C</kbd> to Copy the Link</div>
            </div>
        </div>
    </form>
</div>

<div  style="text-align: center; margin-top: 20px;">
    <button type="button" ng-click="copyToClipBoard(share_link)" class="btn btn-primary" style="width: 40%;margin:0 1%;">{{_('Copy to Clipboard')}}</button>
    <button type="button"  class="btn btn-danger" ng-click="unShareLink()" style="width: 40%;margin:0 1%;" href>{{_('UnShare Link')}}</button>
</div>