<h1 class="shareHeader">{{_('Share %1 via Pydio', share_filename.split('\\').pop().split('/').pop())}}</h1>
<!--h1 class="shareHeader" ng-value="checkExistingLink()">{{_('Share %1 via Pydio', share_filename.split("/").pop())}}</h1-->

<div id="shareDiv" class="well">
    <h3> {{_('Description')}} </h3>
    <div class="input-group">
        <span class="input-group-addon">{{_('Path')}}</span>
        <input type="text" ng-model="share_filename" class="form-control" placeholder="path" readonly required >
    </div>

    <h3> {{_('Security')}} </h3>
    <div class="input-group">
        <span class="input-group-addon">{{_('Password')}}</span>
        <input ng-model="share_password" type="password" class="form-control">
    </div>

    <h4> {{_('Expires after')}} </h4>
    <div class="input-group">
        <span class="input-group-addon">{{_('Days')}}</span>
        <input type="number" min="0" ng-model="share_expire_in"  class="form-control" >
        <span class="input-group-addon">{{_('Downloads')}}</span>
        <input type="number" min="0" ng-model="share_allowed_downloads" class="form-control" >
    </div>

        <h3 style="margin-top: 50px; cursor:pointer;" ng-click="share_show_advanced=!share_show_advanced">
        <span ng-class="{'glyphicon-chevron-right':!share_show_advanced,'glyphicon-chevron-down':share_show_advanced}" class="small glyphicon"></span> {{_('Advanced parameters')}}<span ng-if="!share_show_advanced">...</span>
    </h3>
    <div ng-show="share_show_advanced">
        <div>
            <h4>{{_('Link Handle')}}</h4>
            <div class="well">
                <p class="small">{{_('If you want a durable and pretty link (like https://.../my-share-link), you can use this field. Link handle will be generated if left empty.')}}</p>
                <div style="text-align: center;">
                    <input ng-model="share_link_handler" type="text" class="form-control" placeholder="my-share-link">
                </div>
            </div>
        </div>

        <div>
            <h4>{{_('Description')}}</h4>
            <div class="well">
                <p class="small">{{_('This will be displayed to the shared users.')}}</p>
                <div style="text-align: left;">
                    <input ng-model="share_description" type="text" class="form-control" placeholder="description (optional) ">
                </div>
            </div>
        </div>

        <div style="">
            <h4>{{_('Access Rights')}}</h4>
            <div class="well">
                <p class="small" style="text-align: center;">{{_('By default, the item will be previewed and downloadable')}}</p>
                <div style="text-align: center;">
                    <div>
                        <label>{{_('Preview')}}</label>
                        <input ng-model="share_preview" type="checkbox">
                        <label>{{_('Download')}}</label>
                        <input ng-model="share_download_checkbox" type="checkbox">
                        <span ng-show="can_write">
                            <label>{{_('Upload')}}</label>
                            <input ng-model="share_upload_checkbox" type="checkbox" >
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <br style="clear: both">
    </div>
</div>

<div  class="navbar-inverse navbar-fixed-bottom" style="padding: 10px; text-align: center; background-color: #77b8e2;">
    <button type="button" ng-click="generateLink()" class="btn btn-primary" style="width: 40%;margin:0 1%;">{{_('Generate Link')}}</button>
</div>