<div ng-show="loading" style="position: absolute;top: 0;right: 0;left: 0;bottom: 0;z-index: 1300; background-color: #ededed; padding: 45% 0; text-align: center;" >
    <div class="loader_image pulse"></div>
    <br>{{_('Please wait ...')}}
</div>
<div class="welcomeDiv" id="welcomeDiv">

    <p style="font-size: 2em;">{{_('Welcome to the Pydio Sync')}}</p>
    <p>{{_('The easiest way to keep your data in control')}}</p>

    <div class="form-group" style="width:300px; margin:100px auto;" ng-if="ui_config.login_mode == 'alias'">
        <input style="width: 185px; float:left; margin-right: 5px;" type="text" name="client_id" ng-model="job.client_id" class="form-control" placeholder="Client Id" required/>
        <input type="button" style="float:left;" class="btn btn-primary" ng-click="resolveClientId();" value="{{loading?_('Loading...'):_('Get Started')}}"/>
        <span ng-show="myForm.user.$error.required && !myForm.user.$pristine" class="help-inline">{{_('Required')}}</span>
    </div>
    <div ng-show="ui_config.proxy_enabled" style="margin:200px 50% 0 50%;" title="{{_('Proxy settings')}}">
            <a href="#/settings" style="display: block;"><span class="glyphicon glyphicon-cog" style="margin-top: 17px; color:white;" aria-hidden="true"></span></a>
    </div>
    <div class="alert alert-danger alert-dismissable" style="position: absolute; top: auto; bottom: -22px; width: 100%;" ng-if="error">{{error}}</div>
    <a  ng-if="ui_config.login_mode == 'standard'" style="margin-top: 100px;" class="btn btn-primary" href="#/new">{{_('Get Started')}}</a>
</div>
