<div>
    <h4>{{_('Sync Direction')}}</h4>
    <div class="well">
        <p class="small" ng-show=" job.direction=='up' ">{{_('Modifications are sent to the server but the client does not download anything.')}}</p>
        <p class="small" ng-show=" job.direction=='bi' ">{{_('Modifications from both sides (local/remote) are automatically reflected on the other side.')}}</p>
        <p class="small" ng-show=" job.direction=='down' ">{{_('Modifications from the server are downloaded buth nothing is sent to the server.')}}</p>
        <div style="text-align: center;">
            <div class="advanced_radio_box" ng-class="{'label-radio-selected':job.direction=='up', 'label-radio-hidden': job.hide_up_dir=='true' }" ng-click="job.direction='up'">
                <label>{{_('Upload Only')}}<br><span class="small">({{_('computer to server')}})</span></label>
            </div>
            <div class="advanced_radio_box" ng-class="{'label-radio-selected':job.direction=='bi', 'label-radio-hidden': job.hide_bi_dir=='true' }" ng-click="job.direction='bi'">
                <label>{{_('Bi-directional')}}<br><span class="small">({{_('default when possible')}})</span></label>
            </div>
            <div  class="advanced_radio_box" ng-class="{'label-radio-selected':job.direction=='down', 'label-radio-hidden': job.hide_down_dir=='true' }" ng-click="job.direction='down'">
                <label>{{_('Download Only')}}<br><span class="small">({{_('server to computer')}})</span></label>
            </div>
        </div>
    </div>
</div>

<div style="">
    <h4>{{_('Sync Frequency')}}</h4>
    <div class="well">
        <p class="small">{{_('By default, the application will synchronize automatically')}}</p>
        <div style="text-align: center;">
            <div class="advanced_radio_box" ng-class="{'label-radio-selected':job.frequency=='auto'}" ng-click="job.frequency='auto'">
                <label>{{_('Automatically')}}</label>
            </div>
            <div  class="advanced_radio_box" ng-class="{'label-radio-selected':job.frequency=='manual'}" ng-click="job.frequency='manual'">
                <label>{{_('Manually')}}</label>
            </div>
            <div  class="advanced_radio_box" ng-class="{'label-radio-selected':job.frequency=='time'}" ng-click="job.frequency='time'">
                <label>{{_('Given Time')}}</label>
            </div>
        </div>


        <div ng-show="job.frequency=='time'" class="form-group center-block" style="padding-top: 10px;">
            {{_('Run the sync every day at')}} <input type="number" style="width:40px" ng-model="job.start_time.h">:<input type="number" style="width:40px" value="00" ng-model="job.start_time.m"><br>
        </div>
    </div>
</div>


<div style="clear: left;" ng-hide="job.direction=='up'">
    <h4>{{_('Conflicts')}}</h4>
    <div class="well">
        <p class="small">{{_('When files were modified on both the server and your computer at the same time, a conflict is detected.')}}</p>
        <div style="text-align: center;">
            <div class="advanced_radio_box conflict"
                        ng-class="{'label-radio-selected':job.solve=='both' || job.solve=='local' || job.solve=='remote'}"
                        ng-click="job.solve='both'"
            >
                {{_('Automatic')}}
            </div>
            <div class="advanced_radio_box conflict" ng-class="{'label-radio-selected':job.solve=='manual'}" ng-click="job.solve='manual'">
                <label>{{_('Solve conflicts manually')}}</label>
            </div>
        </div>
        <div style="margin-top:1%; font-size:1em;">
            <div style="" ng-hide="job.solve=='manual'">
                <p class="small">{{_('With the default keep-both behavior conflicting files will be copied on your local sync. Which version is to be kept?')}}</p>
                <div style="text-align: center;">
                    <div class="advanced_radio_box conflict_small" ng-class="{'label-radio-selected':job.solve=='both'}" ng-click="job.solve='both'">
                        <label hover="Blabla">{{_('Keep both')}}</label>
                    </div>
                    <div class="advanced_radio_box conflict_small" ng-hide="job.direction=='down'" ng-class="{'label-radio-selected':job.solve=='local'}" ng-click="job.solve='local'">
                        <label>{{_('Prefer local')}}</label>
                    </div>
                    <div class="advanced_radio_box conflict_small" ng-class="{'label-radio-selected':job.solve=='remote'}" ng-click="job.solve='remote'">
                        <label>{{_('Prefer remote')}}</label>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<div style="">
<h4>{{_('Connection settings')}}</h4>
<div class="well">
    <p class="small">{{_('Increase the timeout in case of slow responsive server')}}</p>
    <div class="input-group">
        <div class="input-group">
            <span style="padding-right:3em;" class="input-group-addon">{{_('Timeout in seconds')}}</span>
            <input type="number" min="0" ng-model="job.timeout"  class="form-control">
        </div>
    </div>
    <p class="small" style="margin-top: 1em;">{{_('You can increase or reduce the number of concurrent connections. More means a faster sync but requires a server with more resources. (Default: 4)')}}</p>
    <div class="input-group">
        <div class="input-group">
            <span style="padding-right:1em;" class="input-group-addon">{{_('Concurrent connections')}}</span>
            <input type="number" class="form-control" ng-model="job.poolsize" min="1" max="99" required ng-style="
        job.poolsize <= 4 && {'background-color': 'LightGreen'} ||
        job.poolsize <= 8 && job.poolsize > 4 && {'background-color': 'LightSalmon'} ||
        job.poolsize > 8 && {'background-color': 'FireBrick'}">
        </div>
    </div>
</div>

<div style="">
<h4>{{_('Include/Exclude from Sync')}}</h4>
<div class="well">
    <div style="">
            <p class="small">{{_('Syncronise, use a list of files or patterns to include in the sync')}}</p>
            <input type="text" ng-model="job.filters.includes"  class="form-control">
     </div>
    <div style="margin-top:1%;">
            <p class="small">{{_('Do not synchronise, list of files or patterns to exclude from sync')}}</p>
            <input type="text" ng-model="job.filters.excludes"  class="form-control">
     </div>
</div>
</div>