<!-- TODO: Put me in Feedback
<div class="alert alert-info alert-dismissible fade in" role="alert" style="margin:0%;text-align: center;" ng-show="show_feedback_alert">
    <button ng-click="alert_dismiss()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <a href="#/feedback" class="alert-link"><strong>{{_('Help us! ')}}</strong></a>{{_('Give us your feedback to improve PydioSync.')}}
</div>
-->
<div ng-show="loading" style="position: absolute;top: 0;right: 0;left: 0;bottom: 0;z-index: 1300; background-color: #ededed; padding: 45% 0; text-align: center;" >
    <div class="loader_image pulse"></div>
    <br>{{_('Please wait...')}}
</div>
<div>
    <h1>{{_('PydioSync Feedback Form')}}</h1>
    <div class="small well pull-left">
        <p>{{_('You have the power to help us improve PydioSync by submitting anonymously this simple form.')}}</p>
        <form id="fields" action="https://192.168.0.91/feedbackformreceive.php" method="post">
            <input type="hidden" name="content" value="{{ feedbackdata }}">
            <input type="checkbox" name="nbfiles" value="" checked/>&nbsp;{{_('Include the number of synced files;')}}<br />
            <input type="checkbox" name="lastseq" value="" checked/>&nbsp;{{_('Include the last sequence number;')}}<br />
            <input type="checkbox" name="errors" value="" checked/>&nbsp;{{_('Include server info;')}}<br />
            <input type="checkbox" name="errors" value="" ng-model="errorschecked" checked/>&nbsp;{{_('Include errors;')}} ({{ feedbackdata.nberrors }})<br />
            <span ng-hide="errorschecked"><input type="checkbox" name="nberrors" value="" checked/>&nbsp;{{_('Include the number of errors;')}} ({{ feedbackdata.nberrors }})<br /></span><p></p>
            <p><input type="email" name="email" value="" placeholder="email (Optional)"></p>
            <textarea name="comment" form="fields" placeholder="{{_('Comments (Appreciated)')}}" cols="38" rows="10"></textarea><p></p>
            <p><input type="submit"></p>
        </form>
    </div>
</div>